# NumPy Problems

In [520]:
import numpy as np
from numpy.linalg import norm
import csv

In [521]:
with open('auto-mpg.csv', 'r') as file:
    reader = csv.reader(file)
    data = list(reader)

In [522]:
data[0]

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'car name']

In [523]:
data

[['mpg',
  'cylinders',
  'displacement',
  'horsepower',
  'weight',
  'acceleration',
  'model year',
  'origin',
  'car name'],
 ['18',
  '8',
  '307',
  '130',
  '3504',
  '12',
  '70',
  '1',
  'chevrolet chevelle malibu'],
 ['15', '8', '350', '165', '3693', '11.5', '70', '1', 'buick skylark 320'],
 ['18', '8', '318', '150', '3436', '11', '70', '1', 'plymouth satellite'],
 ['16', '8', '304', '150', '3433', '12', '70', '1', 'amc rebel sst'],
 ['17', '8', '302', '140', '3449', '10.5', '70', '1', 'ford torino'],
 ['15', '8', '429', '198', '4341', '10', '70', '1', 'ford galaxie 500'],
 ['14', '8', '454', '220', '4354', '9', '70', '1', 'chevrolet impala'],
 ['14', '8', '440', '215', '4312', '8.5', '70', '1', 'plymouth fury iii'],
 ['14', '8', '455', '225', '4425', '10', '70', '1', 'pontiac catalina'],
 ['15', '8', '390', '190', '3850', '8.5', '70', '1', 'amc ambassador dpl'],
 ['15', '8', '383', '170', '3563', '10', '70', '1', 'dodge challenger se'],
 ['14', '8', '340', '160', '3609', '8', '70', '1', "plymouth 'cuda 340"],
 ['15', '8', '400', '150', '3761', '9.5', '70', '1', 'chevrolet monte carlo'],
 ['14', '8', '455', '225', '3086', '10', '70', '1', 'buick estate wagon (sw)'],
 ['24', '4', '113', '95', '2372', '15', '70', '3', 'toyota corona mark ii'],
 ['22', '6', '198', '95', '2833', '15.5', '70', '1', 'plymouth duster'],
 ['18', '6', '199', '97', '2774', '15.5', '70', '1', 'amc hornet'],
 ['21', '6', '200', '85', '2587', '16', '70', '1', 'ford maverick'],
 ['27', '4', '97', '88', '2130', '14.5', '70', '3', 'datsun pl510'],
 ['26',
  '4',
  '97',
  '46',
  '1835',
  '20.5',
  '70',
  '2',
  'volkswagen 1131 deluxe sedan'],
 ['25', '4', '110', '87', '2672', '17.5', '70', '2', 'peugeot 504'],
 ['24', '4', '107', '90', '2430', '14.5', '70', '2', 'audi 100 ls'],
 ['25', '4', '104', '95', '2375', '17.5', '70', '2', 'saab 99e'],
 ['26', '4', '121', '113', '2234', '12.5', '70', '2', 'bmw 2002'],
 ['21', '6', '199', '90', '2648', '15', '70', '1', 'amc gremlin'],
 ['10', '8', '360', '215', '4615', '14', '70', '1', 'ford f250'],
 ['10', '8', '307', '200', '4376', '15', '70', '1', 'chevy c20'],
 ['11', '8', '318', '210', '4382', '13.5', '70', '1', 'dodge d200'],
 ['9', '8', '304', '193', '4732', '18.5', '70', '1', 'hi 1200d'],
 ['27', '4', '97', '88', '2130', '14.5', '71', '3', 'datsun pl510'],
 ['28', '4', '140', '90', '2264', '15.5', '71', '1', 'chevrolet vega 2300'],
 ['25', '4', '113', '95', '2228', '14', '71', '3', 'toyota corona'],
 ['25', '4', '98', '?', '2046', '19', '71', '1', 'ford pinto'],
 ['19', '6', '232', '100', '2634', '13', '71', '1', 'amc gremlin'],
 ['16',
  '6',
  '225',
  '105',
  '3439',
  '15.5',
  '71',
  '1',
  'plymouth satellite custom'],
 ['17',
  '6',
  '250',
  '100',
  '3329',
  '15.5',
  '71',
  '1',
  'chevrolet chevelle malibu'],
 ['19', '6', '250', '88', '3302', '15.5', '71', '1', 'ford torino 500'],
 ['18', '6', '232', '100', '3288', '15.5', '71', '1', 'amc matador'],
 ['14', '8', '350', '165', '4209', '12', '71', '1', 'chevrolet impala'],
 ['14',
  '8',
  '400',
  '175',
  '4464',
  '11.5',
  '71',
  '1',
  'pontiac catalina brougham'],
 ['14', '8', '351', '153', '4154', '13.5', '71', '1', 'ford galaxie 500'],
 ['14', '8', '318', '150', '4096', '13', '71', '1', 'plymouth fury iii'],
 ['12', '8', '383', '180', '4955', '11.5', '71', '1', 'dodge monaco (sw)'],
 ['13',
  '8',
  '400',
  '170',
  '4746',
  '12',
  '71',
  '1',
  'ford country squire (sw)'],
 ['13', '8', '400', '175', '5140', '12', '71', '1', 'pontiac safari (sw)'],
 ['18',
  '6',
  '258',
  '110',
  '2962',
  '13.5',
  '71',
  '1',
  'amc hornet sportabout (sw)'],
 ['22', '4', '140', '72', '2408', '19', '71', '1', 'chevrolet vega (sw)'],
 ['19', '6', '250', '100', '3282', '15', '71', '1', 'pontiac firebird'],
 ['18', '6', '250', '88', '3139', '14.5', '71', '1', 'ford mustang'],
 ['23', '4', '122', '86', '2220', '14', '71', '1', 'mercury capri 2000'],
 ['28', '4', '116', '90', '2123', '14', '71', '2', 'opel 1900'],
 ['30', '4', '79', '70', '2074', '19.5', '71', '2', 'peugeot 304'],
 ['30', '4', '88', '76', '2065', '14.5', '71', '2', 'fiat 124b'],
 ['31', '4', '71', '65', '1773', '19', '71', '3', 'toyota corolla 1200'],
 ['35', '4', '72', '69', '1613', '18', '71', '3', 'datsun 1200'],
 ['27', '4', '97', '60', '1834', '19', '71', '2', 'volkswagen model 111'],
 ['26', '4', '91', '70', '1955', '20.5', '71', '1', 'plymouth cricket'],
 ['24', '4', '113', '95', '2278', '15.5', '72', '3', 'toyota corona hardtop'],
 ['25', '4', '97.5', '80', '2126', '17', '72', '1', 'dodge colt hardtop'],
 ['23', '4', '97', '54', '2254', '23.5', '72', '2', 'volkswagen type 3'],
 ['20', '4', '140', '90', '2408', '19.5', '72', '1', 'chevrolet vega'],
 ['21', '4', '122', '86', '2226', '16.5', '72', '1', 'ford pinto runabout'],
 ['13', '8', '350', '165', '4274', '12', '72', '1', 'chevrolet impala'],
 ['14', '8', '400', '175', '4385', '12', '72', '1', 'pontiac catalina'],
 ['15', '8', '318', '150', '4135', '13.5', '72', '1', 'plymouth fury iii'],
 ['14', '8', '351', '153', '4129', '13', '72', '1', 'ford galaxie 500'],
 ['17', '8', '304', '150', '3672', '11.5', '72', '1', 'amc ambassador sst'],
 ['11', '8', '429', '208', '4633', '11', '72', '1', 'mercury marquis'],
 ['13', '8', '350', '155', '4502', '13.5', '72', '1', 'buick lesabre custom'],
 ['12',
  '8',
  '350',
  '160',
  '4456',
  '13.5',
  '72',
  '1',
  'oldsmobile delta 88 royale'],
 ['13',
  '8',
  '400',
  '190',
  '4422',
  '12.5',
  '72',
  '1',
  'chrysler newport royal'],
 ['19', '3', '70', '97', '2330', '13.5', '72', '3', 'mazda rx2 coupe'],
 ['15', '8', '304', '150', '3892', '12.5', '72', '1', 'amc matador (sw)'],
 ['13',
  '8',
  '307',
  '130',
  '4098',
  '14',
  '72',
  '1',
  'chevrolet chevelle concours (sw)'],
 ['13', '8', '302', '140', '4294', '16', '72', '1', 'ford gran torino (sw)'],
 ['14',
  '8',
  '318',
  '150',
  '4077',
  '14',
  '72',
  '1',
  'plymouth satellite custom (sw)'],
 ['18', '4', '121', '112', '2933', '14.5', '72', '2', 'volvo 145e (sw)'],
 ['22', '4', '121', '76', '2511', '18', '72', '2', 'volkswagen 411 (sw)'],
 ['21', '4', '120', '87', '2979', '19.5', '72', '2', 'peugeot 504 (sw)'],
 ['26', '4', '96', '69', '2189', '18', '72', '2', 'renault 12 (sw)'],
 ['22', '4', '122', '86', '2395', '16', '72', '1', 'ford pinto (sw)'],
 ['28', '4', '97', '92', '2288', '17', '72', '3', 'datsun 510 (sw)'],
 ['23',
  '4',
  '120',
  '97',
  '2506',
  '14.5',
  '72',
  '3',
  'toyouta corona mark ii (sw)'],
 ['28', '4', '98', '80', '2164', '15', '72', '1', 'dodge colt (sw)'],
 ['27',
  '4',
  '97',
  '88',
  '2100',
  '16.5',
  '72',
  '3',
  'toyota corolla 1600 (sw)'],
 ['13', '8', '350', '175', '4100', '13', '73', '1', 'buick century 350'],
 ['14', '8', '304', '150', '3672', '11.5', '73', '1', 'amc matador'],
 ['13', '8', '350', '145', '3988', '13', '73', '1', 'chevrolet malibu'],
 ['14', '8', '302', '137', '4042', '14.5', '73', '1', 'ford gran torino'],
 ['15', '8', '318', '150', '3777', '12.5', '73', '1', 'dodge coronet custom'],
 ['12',
  '8',
  '429',
  '198',
  '4952',
  '11.5',
  '73',
  '1',
  'mercury marquis brougham'],
 ['13',
  '8',
  '400',
  '150',
  '4464',
  '12',
  '73',
  '1',
  'chevrolet caprice classic'],
 ['13', '8', '351', '158', '4363', '13', '73', '1', 'ford ltd'],
 ['14',
  '8',
  '318',
  '150',
  '4237',
  '14.5',
  '73',
  '1',
  'plymouth fury gran sedan'],
 ['13',
  '8',
  '440',
  '215',
  '4735',
  '11',
  '73',
  '1',
  'chrysler new yorker brougham'],
 ['12',
  '8',
  '455',
  '225',
  '4951',
  '11',
  '73',
  '1',
  'buick electra 225 custom'],
 ['13', '8', '360', '175', '3821', '11', '73', '1', 'amc ambassador brougham'],
 ['18', '6', '225', '105', '3121', '16.5', '73', '1', 'plymouth valiant'],
 ['16', '6', '250', '100', '3278', '18', '73', '1', 'chevrolet nova custom'],
 ['18', '6', '232', '100', '2945', '16', '73', '1', 'amc hornet'],
 ['18', '6', '250', '88', '3021', '16.5', '73', '1', 'ford maverick'],
 ['23', '6', '198', '95', '2904', '16', '73', '1', 'plymouth duster'],
 ['26', '4', '97', '46', '1950', '21', '73', '2', 'volkswagen super beetle'],
 ['11', '8', '400', '150', '4997', '14', '73', '1', 'chevrolet impala'],
 ['12', '8', '400', '167', '4906', '12.5', '73', '1', 'ford country'],
 ['13', '8', '360', '170', '4654', '13', '73', '1', 'plymouth custom suburb'],
 ['12',
  '8',
  '350',
  '180',
  '4499',
  '12.5',
  '73',
  '1',
  'oldsmobile vista cruiser'],
 ['18', '6', '232', '100', '2789', '15', '73', '1', 'amc gremlin'],
 ['20', '4', '97', '88', '2279', '19', '73', '3', 'toyota carina'],
 ['21', '4', '140', '72', '2401', '19.5', '73', '1', 'chevrolet vega'],
 ['22', '4', '108', '94', '2379', '16.5', '73', '3', 'datsun 610'],
 ['18', '3', '70', '90', '2124', '13.5', '73', '3', 'maxda rx3'],
 ['19', '4', '122', '85', '2310', '18.5', '73', '1', 'ford pinto'],
 ['21', '6', '155', '107', '2472', '14', '73', '1', 'mercury capri v6'],
 ['26', '4', '98', '90', '2265', '15.5', '73', '2', 'fiat 124 sport coupe'],
 ['15', '8', '350', '145', '4082', '13', '73', '1', 'chevrolet monte carlo s'],
 ['16', '8', '400', '230', '4278', '9.5', '73', '1', 'pontiac grand prix'],
 ['29', '4', '68', '49', '1867', '19.5', '73', '2', 'fiat 128'],
 ['24', '4', '116', '75', '2158', '15.5', '73', '2', 'opel manta'],
 ['20', '4', '114', '91', '2582', '14', '73', '2', 'audi 100ls'],
 ['19', '4', '121', '112', '2868', '15.5', '73', '2', 'volvo 144ea'],
 ['15', '8', '318', '150', '3399', '11', '73', '1', 'dodge dart custom'],
 ['24', '4', '121', '110', '2660', '14', '73', '2', 'saab 99le'],
 ['20', '6', '156', '122', '2807', '13.5', '73', '3', 'toyota mark ii'],
 ['11', '8', '350', '180', '3664', '11', '73', '1', 'oldsmobile omega'],
 ['20', '6', '198', '95', '3102', '16.5', '74', '1', 'plymouth duster'],
 ['21', '6', '200', '?', '2875', '17', '74', '1', 'ford maverick'],
 ['19', '6', '232', '100', '2901', '16', '74', '1', 'amc hornet'],
 ['15', '6', '250', '100', '3336', '17', '74', '1', 'chevrolet nova'],
 ['31', '4', '79', '67', '1950', '19', '74', '3', 'datsun b210'],
 ['26', '4', '122', '80', '2451', '16.5', '74', '1', 'ford pinto'],
 ['32', '4', '71', '65', '1836', '21', '74', '3', 'toyota corolla 1200'],
 ['25', '4', '140', '75', '2542', '17', '74', '1', 'chevrolet vega'],
 ['16',
  '6',
  '250',
  '100',
  '3781',
  '17',
  '74',
  '1',
  'chevrolet chevelle malibu classic'],
 ['16', '6', '258', '110', '3632', '18', '74', '1', 'amc matador'],
 ['18',
  '6',
  '225',
  '105',
  '3613',
  '16.5',
  '74',
  '1',
  'plymouth satellite sebring'],
 ['16', '8', '302', '140', '4141', '14', '74', '1', 'ford gran torino'],
 ['13',
  '8',
  '350',
  '150',
  '4699',
  '14.5',
  '74',
  '1',
  'buick century luxus (sw)'],
 ['14',
  '8',
  '318',
  '150',
  '4457',
  '13.5',
  '74',
  '1',
  'dodge coronet custom (sw)'],
 ['14', '8', '302', '140', '4638', '16', '74', '1', 'ford gran torino (sw)'],
 ['14', '8', '304', '150', '4257', '15.5', '74', '1', 'amc matador (sw)'],
 ['29', '4', '98', '83', '2219', '16.5', '74', '2', 'audi fox'],
 ['26', '4', '79', '67', '1963', '15.5', '74', '2', 'volkswagen dasher'],
 ['26', '4', '97', '78', '2300', '14.5', '74', '2', 'opel manta'],
 ['31', '4', '76', '52', '1649', '16.5', '74', '3', 'toyota corona'],
 ['32', '4', '83', '61', '2003', '19', '74', '3', 'datsun 710'],
 ['28', '4', '90', '75', '2125', '14.5', '74', '1', 'dodge colt'],
 ['24', '4', '90', '75', '2108', '15.5', '74', '2', 'fiat 128'],
 ['26', '4', '116', '75', '2246', '14', '74', '2', 'fiat 124 tc'],
 ['24', '4', '120', '97', '2489', '15', '74', '3', 'honda civic'],
 ['26', '4', '108', '93', '2391', '15.5', '74', '3', 'subaru'],
 ['31', '4', '79', '67', '2000', '16', '74', '2', 'fiat x1.9'],
 ['19', '6', '225', '95', '3264', '16', '75', '1', 'plymouth valiant custom'],
 ['18', '6', '250', '105', '3459', '16', '75', '1', 'chevrolet nova'],
 ['15', '6', '250', '72', '3432', '21', '75', '1', 'mercury monarch'],
 ['15', '6', '250', '72', '3158', '19.5', '75', '1', 'ford maverick'],
 ['16', '8', '400', '170', '4668', '11.5', '75', '1', 'pontiac catalina'],
 ['15', '8', '350', '145', '4440', '14', '75', '1', 'chevrolet bel air'],
 ['16', '8', '318', '150', '4498', '14.5', '75', '1', 'plymouth grand fury'],
 ['14', '8', '351', '148', '4657', '13.5', '75', '1', 'ford ltd'],
 ['17', '6', '231', '110', '3907', '21', '75', '1', 'buick century'],
 ['16',
  '6',
  '250',
  '105',
  '3897',
  '18.5',
  '75',
  '1',
  'chevroelt chevelle malibu'],
 ['15', '6', '258', '110', '3730', '19', '75', '1', 'amc matador'],
 ['18', '6', '225', '95', '3785', '19', '75', '1', 'plymouth fury'],
 ['21', '6', '231', '110', '3039', '15', '75', '1', 'buick skyhawk'],
 ['20', '8', '262', '110', '3221', '13.5', '75', '1', 'chevrolet monza 2+2'],
 ['13', '8', '302', '129', '3169', '12', '75', '1', 'ford mustang ii'],
 ['29', '4', '97', '75', '2171', '16', '75', '3', 'toyota corolla'],
 ['23', '4', '140', '83', '2639', '17', '75', '1', 'ford pinto'],
 ['20', '6', '232', '100', '2914', '16', '75', '1', 'amc gremlin'],
 ['23', '4', '140', '78', '2592', '18.5', '75', '1', 'pontiac astro'],
 ['24', '4', '134', '96', '2702', '13.5', '75', '3', 'toyota corona'],
 ['25', '4', '90', '71', '2223', '16.5', '75', '2', 'volkswagen dasher'],
 ['24', '4', '119', '97', '2545', '17', '75', '3', 'datsun 710'],
 ['18', '6', '171', '97', '2984', '14.5', '75', '1', 'ford pinto'],
 ['29', '4', '90', '70', '1937', '14', '75', '2', 'volkswagen rabbit'],
 ['19', '6', '232', '90', '3211', '17', '75', '1', 'amc pacer'],
 ['23', '4', '115', '95', '2694', '15', '75', '2', 'audi 100ls'],
 ['23', '4', '120', '88', '2957', '17', '75', '2', 'peugeot 504'],
 ['22', '4', '121', '98', '2945', '14.5', '75', '2', 'volvo 244dl'],
 ['25', '4', '121', '115', '2671', '13.5', '75', '2', 'saab 99le'],
 ['33', '4', '91', '53', '1795', '17.5', '75', '3', 'honda civic cvcc'],
 ['28', '4', '107', '86', '2464', '15.5', '76', '2', 'fiat 131'],
 ['25', '4', '116', '81', '2220', '16.9', '76', '2', 'opel 1900'],
 ['25', '4', '140', '92', '2572', '14.9', '76', '1', 'capri ii'],
 ['26', '4', '98', '79', '2255', '17.7', '76', '1', 'dodge colt'],
 ['27', '4', '101', '83', '2202', '15.3', '76', '2', 'renault 12tl'],
 ['17.5',
  '8',
  '305',
  '140',
  '4215',
  '13',
  '76',
  '1',
  'chevrolet chevelle malibu classic'],
 ['16', '8', '318', '150', '4190', '13', '76', '1', 'dodge coronet brougham'],
 ['15.5', '8', '304', '120', '3962', '13.9', '76', '1', 'amc matador'],
 ['14.5', '8', '351', '152', '4215', '12.8', '76', '1', 'ford gran torino'],
 ['22', '6', '225', '100', '3233', '15.4', '76', '1', 'plymouth valiant'],
 ['22', '6', '250', '105', '3353', '14.5', '76', '1', 'chevrolet nova'],
 ['24', '6', '200', '81', '3012', '17.6', '76', '1', 'ford maverick'],
 ['22.5', '6', '232', '90', '3085', '17.6', '76', '1', 'amc hornet'],
 ['29', '4', '85', '52', '2035', '22.2', '76', '1', 'chevrolet chevette'],
 ['24.5', '4', '98', '60', '2164', '22.1', '76', '1', 'chevrolet woody'],
 ['29', '4', '90', '70', '1937', '14.2', '76', '2', 'vw rabbit'],
 ['33', '4', '91', '53', '1795', '17.4', '76', '3', 'honda civic'],
 ['20', '6', '225', '100', '3651', '17.7', '76', '1', 'dodge aspen se'],
 ['18', '6', '250', '78', '3574', '21', '76', '1', 'ford granada ghia'],
 ['18.5', '6', '250', '110', '3645', '16.2', '76', '1', 'pontiac ventura sj'],
 ['17.5', '6', '258', '95', '3193', '17.8', '76', '1', 'amc pacer d/l'],
 ['29.5', '4', '97', '71', '1825', '12.2', '76', '2', 'volkswagen rabbit'],
 ['32', '4', '85', '70', '1990', '17', '76', '3', 'datsun b-210'],
 ['28', '4', '97', '75', '2155', '16.4', '76', '3', 'toyota corolla'],
 ['26.5', '4', '140', '72', '2565', '13.6', '76', '1', 'ford pinto'],
 ['20', '4', '130', '102', '3150', '15.7', '76', '2', 'volvo 245'],
 ['13',
  '8',
  '318',
  '150',
  '3940',
  '13.2',
  '76',
  '1',
  'plymouth volare premier v8'],
 ['19', '4', '120', '88', '3270', '21.9', '76', '2', 'peugeot 504'],
 ['19', '6', '156', '108', '2930', '15.5', '76', '3', 'toyota mark ii'],
 ['16.5', '6', '168', '120', '3820', '16.7', '76', '2', 'mercedes-benz 280s'],
 ['16.5', '8', '350', '180', '4380', '12.1', '76', '1', 'cadillac seville'],
 ['13', '8', '350', '145', '4055', '12', '76', '1', 'chevy c10'],
 ['13', '8', '302', '130', '3870', '15', '76', '1', 'ford f108'],
 ['13', '8', '318', '150', '3755', '14', '76', '1', 'dodge d100'],
 ['31.5', '4', '98', '68', '2045', '18.5', '77', '3', 'honda accord cvcc'],
 ['30',
  '4',
  '111',
  '80',
  '2155',
  '14.8',
  '77',
  '1',
  'buick opel isuzu deluxe'],
 ['36', '4', '79', '58', '1825', '18.6', '77', '2', 'renault 5 gtl'],
 ['25.5', '4', '122', '96', '2300', '15.5', '77', '1', 'plymouth arrow gs'],
 ['33.5', '4', '85', '70', '1945', '16.8', '77', '3', 'datsun f-10 hatchback'],
 ['17.5',
  '8',
  '305',
  '145',
  '3880',
  '12.5',
  '77',
  '1',
  'chevrolet caprice classic'],
 ['17',
  '8',
  '260',
  '110',
  '4060',
  '19',
  '77',
  '1',
  'oldsmobile cutlass supreme'],
 ['15.5',
  '8',
  '318',
  '145',
  '4140',
  '13.7',
  '77',
  '1',
  'dodge monaco brougham'],
 ['15',
  '8',
  '302',
  '130',
  '4295',
  '14.9',
  '77',
  '1',
  'mercury cougar brougham'],
 ['17.5', '6', '250', '110', '3520', '16.4', '77', '1', 'chevrolet concours'],
 ['20.5', '6', '231', '105', '3425', '16.9', '77', '1', 'buick skylark'],
 ['19',
  '6',
  '225',
  '100',
  '3630',
  '17.7',
  '77',
  '1',
  'plymouth volare custom'],
 ['18.5', '6', '250', '98', '3525', '19', '77', '1', 'ford granada'],
 ['16', '8', '400', '180', '4220', '11.1', '77', '1', 'pontiac grand prix lj'],
 ['15.5',
  '8',
  '350',
  '170',
  '4165',
  '11.4',
  '77',
  '1',
  'chevrolet monte carlo landau'],
 ['15.5', '8', '400', '190', '4325', '12.2', '77', '1', 'chrysler cordoba'],
 ['16', '8', '351', '149', '4335', '14.5', '77', '1', 'ford thunderbird'],
 ['29',
  '4',
  '97',
  '78',
  '1940',
  '14.5',
  '77',
  '2',
  'volkswagen rabbit custom'],
 ['24.5', '4', '151', '88', '2740', '16', '77', '1', 'pontiac sunbird coupe'],
 ['26', '4', '97', '75', '2265', '18.2', '77', '3', 'toyota corolla liftback'],
 ['25.5', '4', '140', '89', '2755', '15.8', '77', '1', 'ford mustang ii 2+2'],
 ['30.5', '4', '98', '63', '2051', '17', '77', '1', 'chevrolet chevette'],
 ['33.5', '4', '98', '83', '2075', '15.9', '77', '1', 'dodge colt m/m'],
 ['30', '4', '97', '67', '1985', '16.4', '77', '3', 'subaru dl'],
 ['30.5', '4', '97', '78', '2190', '14.1', '77', '2', 'volkswagen dasher'],
 ['22', '6', '146', '97', '2815', '14.5', '77', '3', 'datsun 810'],
 ['21.5', '4', '121', '110', '2600', '12.8', '77', '2', 'bmw 320i'],
 ['21.5', '3', '80', '110', '2720', '13.5', '77', '3', 'mazda rx-4'],
 ['43.1',
  '4',
  '90',
  '48',
  '1985',
  '21.5',
  '78',
  '2',
  'volkswagen rabbit custom diesel'],
 ['36.1', '4', '98', '66', '1800', '14.4', '78', '1', 'ford fiesta'],
 ['32.8', '4', '78', '52', '1985', '19.4', '78', '3', 'mazda glc deluxe'],
 ['39.4', '4', '85', '70', '2070', '18.6', '78', '3', 'datsun b210 gx'],
 ['36.1', '4', '91', '60', '1800', '16.4', '78', '3', 'honda civic cvcc'],
 ['19.9',
  '8',
  '260',
  '110',
  '3365',
  '15.5',
  '78',
  '1',
  'oldsmobile cutlass salon brougham'],
 ['19.4', '8', '318', '140', '3735', '13.2', '78', '1', 'dodge diplomat'],
 ['20.2',
  '8',
  '302',
  '139',
  '3570',
  '12.8',
  '78',
  '1',
  'mercury monarch ghia'],
 ['19.2', '6', '231', '105', '3535', '19.2', '78', '1', 'pontiac phoenix lj'],
 ['20.5', '6', '200', '95', '3155', '18.2', '78', '1', 'chevrolet malibu'],
 ['20.2', '6', '200', '85', '2965', '15.8', '78', '1', 'ford fairmont (auto)'],
 ['25.1', '4', '140', '88', '2720', '15.4', '78', '1', 'ford fairmont (man)'],
 ['20.5', '6', '225', '100', '3430', '17.2', '78', '1', 'plymouth volare'],
 ['19.4', '6', '232', '90', '3210', '17.2', '78', '1', 'amc concord'],
 ['20.6',
  '6',
  '231',
  '105',
  '3380',
  '15.8',
  '78',
  '1',
  'buick century special'],
 ['20.8', '6', '200', '85', '3070', '16.7', '78', '1', 'mercury zephyr'],
 ['18.6', '6', '225', '110', '3620', '18.7', '78', '1', 'dodge aspen'],

## 1. Basic Array Operations
- Convert the mpg column into a NumPy array and calculate:The mean, median, and standard deviation of mpg.
- The number of cars with mpg greater than 25.

In [524]:
mpg_data = np.array([data[i][0] for i in range(1,len(data))]).astype('float64')
mpg_data

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

In [525]:
print("Mean of mpg = ", np.mean(mpg_data))
print("Median of mpg = ", np.median(mpg_data))
print("Standard deviation of mpg = ", np.std(mpg_data))
print("Number of cars with mpg>25 = ", np.count_nonzero(mpg_data>25))

Mean of mpg =  23.514572864321607
Median of mpg =  23.0
Standard deviation of mpg =  7.806159061274433
Number of cars with mpg>25 =  158

## 2. Filtering
Using NumPy, filter all cars with more than 6 cylinders.  
Return the corresponding car name as a list.

In [526]:
cylinder_data = np.array([data[i][1] for i in range(1,len(data))]).astype('int')
car_name_data = np.array([data[i][8] for i in range(1,len(data))])
for i in range(len(cylinder_data)):
    print(cylinder_data[i], car_name_data[i])

8 chevrolet chevelle malibu
8 buick skylark 320
8 plymouth satellite
8 amc rebel sst
8 ford torino
8 ford galaxie 500
8 chevrolet impala
8 plymouth fury iii
8 pontiac catalina
8 amc ambassador dpl
8 dodge challenger se
8 plymouth 'cuda 340
8 chevrolet monte carlo
8 buick estate wagon (sw)
4 toyota corona mark ii
6 plymouth duster
6 amc hornet
6 ford maverick
4 datsun pl510
4 volkswagen 1131 deluxe sedan
4 peugeot 504
4 audi 100 ls
4 saab 99e
4 bmw 2002
6 amc gremlin
8 ford f250
8 chevy c20
8 dodge d200
8 hi 1200d
4 datsun pl510
4 chevrolet vega 2300
4 toyota corona
4 ford pinto
6 amc gremlin
6 plymouth satellite custom
6 chevrolet chevelle malibu
6 ford torino 500
6 amc matador
8 chevrolet impala
8 pontiac catalina brougham
8 ford galaxie 500
8 plymouth fury iii
8 dodge monaco (sw)
8 ford country squire (sw)
8 pontiac safari (sw)
6 amc hornet sportabout (sw)
4 chevrolet vega (sw)
6 pontiac firebird
6 ford mustang
4 mercury capri 2000
4 opel 1900
4 peugeot 304
4 fiat 124b
4 toyota corolla 1200
4 datsun 1200
4 volkswagen model 111
4 plymouth cricket
4 toyota corona hardtop
4 dodge colt hardtop
4 volkswagen type 3
4 chevrolet vega
4 ford pinto runabout
8 chevrolet impala
8 pontiac catalina
8 plymouth fury iii
8 ford galaxie 500
8 amc ambassador sst
8 mercury marquis
8 buick lesabre custom
8 oldsmobile delta 88 royale
8 chrysler newport royal
3 mazda rx2 coupe
8 amc matador (sw)
8 chevrolet chevelle concours (sw)
8 ford gran torino (sw)
8 plymouth satellite custom (sw)
4 volvo 145e (sw)
4 volkswagen 411 (sw)
4 peugeot 504 (sw)
4 renault 12 (sw)
4 ford pinto (sw)
4 datsun 510 (sw)
4 toyouta corona mark ii (sw)
4 dodge colt (sw)
4 toyota corolla 1600 (sw)
8 buick century 350
8 amc matador
8 chevrolet malibu
8 ford gran torino
8 dodge coronet custom
8 mercury marquis brougham
8 chevrolet caprice classic
8 ford ltd
8 plymouth fury gran sedan
8 chrysler new yorker brougham
8 buick electra 225 custom
8 amc ambassador brougham
6 plymouth valiant
6 chevrolet nova custom
6 amc hornet
6 ford maverick
6 plymouth duster
4 volkswagen super beetle
8 chevrolet impala
8 ford country
8 plymouth custom suburb
8 oldsmobile vista cruiser
6 amc gremlin
4 toyota carina
4 chevrolet vega
4 datsun 610
3 maxda rx3
4 ford pinto
6 mercury capri v6
4 fiat 124 sport coupe
8 chevrolet monte carlo s
8 pontiac grand prix
4 fiat 128
4 opel manta
4 audi 100ls
4 volvo 144ea
8 dodge dart custom
4 saab 99le
6 toyota mark ii
8 oldsmobile omega
6 plymouth duster
6 ford maverick
6 amc hornet
6 chevrolet nova
4 datsun b210
4 ford pinto
4 toyota corolla 1200
4 chevrolet vega
6 chevrolet chevelle malibu classic
6 amc matador
6 plymouth satellite sebring
8 ford gran torino
8 buick century luxus (sw)
8 dodge coronet custom (sw)
8 ford gran torino (sw)
8 amc matador (sw)
4 audi fox
4 volkswagen dasher
4 opel manta
4 toyota corona
4 datsun 710
4 dodge colt
4 fiat 128
4 fiat 124 tc
4 honda civic
4 subaru
4 fiat x1.9
6 plymouth valiant custom
6 chevrolet nova
6 mercury monarch
6 ford maverick
8 pontiac catalina
8 chevrolet bel air
8 plymouth grand fury
8 ford ltd
6 buick century
6 chevroelt chevelle malibu
6 amc matador
6 plymouth fury
6 buick skyhawk
8 chevrolet monza 2+2
8 ford mustang ii
4 toyota corolla
4 ford pinto
6 amc gremlin
4 pontiac astro
4 toyota corona
4 volkswagen dasher
4 datsun 710
6 ford pinto
4 volkswagen rabbit
6 amc pacer
4 audi 100ls
4 peugeot 504
4 volvo 244dl
4 saab 99le
4 honda civic cvcc
4 fiat 131
4 opel 1900
4 capri ii
4 dodge colt
4 renault 12tl
8 chevrolet chevelle malibu classic
8 dodge coronet brougham
8 amc matador
8 ford gran torino
6 plymouth valiant
6 chevrolet nova
6 ford maverick
6 amc hornet
4 chevrolet chevette
4 chevrolet woody
4 vw rabbit
4 honda civic
6 dodge aspen se
6 ford granada ghia
6 pontiac ventura sj
6 amc pacer d/l
4 volkswagen rabbit
4 datsun b-210
4 toyota corolla
4 ford pinto
4 volvo 245
8 plymouth volare premier v8
4 peugeot 504
6 toyota mark ii
6 mercedes-benz 280s
8 cadillac seville
8 chevy c10
8 ford f108
8 dodge d100
4 honda accord cvcc
4 buick opel isuzu deluxe
4 renault 5 gtl
4 plymouth arrow gs
4 datsun f-10 hatchback
8 chevrolet caprice classic
8 oldsmobile cutlass supreme
8 dodge monaco brougham
8 mercury cougar brougham
6 chevrolet concours
6 buick skylark
6 plymouth volare custom
6 ford granada
8 pontiac grand prix lj
8 chevrolet monte carlo landau
8 chrysler cordoba
8 ford thunderbird
4 volkswagen rabbit custom
4 pontiac sunbird coupe
4 toyota corolla liftback
4 ford mustang ii 2+2
4 chevrolet chevette
4 dodge colt m/m
4 subaru dl
4 volkswagen dasher
6 datsun 810
4 bmw 320i
3 mazda rx-4
4 volkswagen rabbit custom diesel
4 ford fiesta
4 mazda glc deluxe
4 datsun b210 gx
4 honda civic cvcc
8 oldsmobile cutlass salon brougham
8 dodge diplomat
8 mercury monarch ghia
6 pontiac phoenix lj
6 chevrolet malibu
6 ford fairmont (auto)
4 ford fairmont (man)
6 plymouth volare
6 amc concord
6 buick century special
6 mercury zephyr
6 dodge aspen
6 amc concord d/l
8 chevrolet monte carlo landau
6 buick regal sport coupe (turbo)
8 ford futura
8 dodge magnum xe
4 chevrolet chevette
4 toyota corona
4 datsun 510
4 dodge omni
4 toyota celica gt liftback
4 plymouth sapporo
4 oldsmobile starfire sx
4 datsun 200-sx
5 audi 5000
6 volvo 264gl
4 saab 99gle
6 peugeot 604sl
4 volkswagen scirocco
4 honda accord lx
6 pontiac lemans v6
6 mercury zephyr 6
4 ford fairmont 4
6 amc concord dl 6
6 dodge aspen 6
8 chevrolet caprice classic
8 ford ltd landau
8 mercury grand marquis
8 dodge st. regis
8 buick estate wagon (sw)
8 ford country squire (sw)
8 chevrolet malibu classic (sw)
8 chrysler lebaron town @ country (sw)
4 vw rabbit custom
4 maxda glc deluxe
4 dodge colt hatchback custom
4 amc spirit dl
5 mercedes benz 300d
8 cadillac eldorado
4 peugeot 504
8 oldsmobile cutlass salon brougham
4 plymouth horizon
4 plymouth horizon tc3
4 datsun 210
4 fiat strada custom
4 buick skylark limited
6 chevrolet citation
6 oldsmobile omega brougham
4 pontiac phoenix
4 vw rabbit
4 toyota corolla tercel
4 chevrolet chevette
4 datsun 310
4 chevrolet citation
4 ford fairmont
4 amc concord
6 dodge aspen
4 audi 4000
4 toyota corona liftback
4 mazda 626
4 datsun 510 hatchback
4 toyota corolla
4 mazda glc
4 dodge colt
4 datsun 210
4 vw rabbit c (diesel)
4 vw dasher (diesel)
5 audi 5000s (diesel)
4 mercedes-benz 240d
4 honda civic 1500 gl
4 renault lecar deluxe
4 subaru dl
4 vokswagen rabbit
6 datsun 280-zx
3 mazda rx-7 gs
4 triumph tr7 coupe
4 ford mustang cobra
4 honda accord
4 plymouth reliant
4 buick skylark
4 dodge aries wagon (sw)
6 chevrolet citation
4 plymouth reliant
4 toyota starlet
4 plymouth champ
4 honda civic 1300
4 subaru
4 datsun 210 mpg
4 toyota tercel
4 mazda glc 4
4 plymouth horizon 4
4 ford escort 4w
4 ford escort 2h
4 volkswagen jetta
4 renault 18i
4 honda prelude
4 toyota corolla
4 datsun 200sx
4 mazda 626
4 peugeot 505s turbo diesel
6 volvo diesel
6 toyota cressida
6 datsun 810 maxima
6 buick century
8 oldsmobile cutlass ls
6 ford granada gl
6 chrysler lebaron salon
4 chevrolet cavalier
4 chevrolet cavalier wagon
4 chevrolet cavalier 2-door
4 pontiac j2000 se hatchback
4 dodge aries se
4 pontiac phoenix
4 ford fairmont futura
4 amc concord dl
4 volkswagen rabbit l
4 mazda glc custom l
4 mazda glc custom
4 plymouth horizon miser
4 mercury lynx l
4 nissan stanza xe
4 honda accord
4 toyota corolla
4 honda civic
4 honda civic (auto)
4 datsun 310 gx
6 buick century limited
6 oldsmobile cutlass ciera (diesel)
4 chrysler lebaron medallion
6 ford granada l
4 toyota celica gt
4 dodge charger 2.2
4 chevrolet camaro
4 ford mustang gl
4 vw pickup
4 dodge rampage
4 ford ranger
4 chevy s-10

In [527]:
car_with_more_than_6_cylinders = [car_name_data[i] for i in range(len(car_name_data)) if cylinder_data[i]>6 ]
print("Cars with with more than 6 cylinders = ", len(car_with_more_than_6_cylinders))

Cars with with more than 6 cylinders =  103

In [528]:
car_with_more_than_6_cylinders

['chevrolet chevelle malibu',
 'buick skylark 320',
 'plymouth satellite',
 'amc rebel sst',
 'ford torino',
 'ford galaxie 500',
 'chevrolet impala',
 'plymouth fury iii',
 'pontiac catalina',
 'amc ambassador dpl',
 'dodge challenger se',
 "plymouth 'cuda 340",
 'chevrolet monte carlo',
 'buick estate wagon (sw)',
 'ford f250',
 'chevy c20',
 'dodge d200',
 'hi 1200d',
 'chevrolet impala',
 'pontiac catalina brougham',
 'ford galaxie 500',
 'plymouth fury iii',
 'dodge monaco (sw)',
 'ford country squire (sw)',
 'pontiac safari (sw)',
 'chevrolet impala',
 'pontiac catalina',
 'plymouth fury iii',
 'ford galaxie 500',
 'amc ambassador sst',
 'mercury marquis',
 'buick lesabre custom',
 'oldsmobile delta 88 royale',
 'chrysler newport royal',
 'amc matador (sw)',
 'chevrolet chevelle concours (sw)',
 'ford gran torino (sw)',
 'plymouth satellite custom (sw)',
 'buick century 350',
 'amc matador',
 'chevrolet malibu',
 'ford gran torino',
 'dodge coronet custom',
 'mercury marquis brougham',
 'chevrolet caprice classic',
 'ford ltd',
 'plymouth fury gran sedan',
 'chrysler new yorker brougham',
 'buick electra 225 custom',
 'amc ambassador brougham',
 'chevrolet impala',
 'ford country',
 'plymouth custom suburb',
 'oldsmobile vista cruiser',
 'chevrolet monte carlo s',
 'pontiac grand prix',
 'dodge dart custom',
 'oldsmobile omega',
 'ford gran torino',
 'buick century luxus (sw)',
 'dodge coronet custom (sw)',
 'ford gran torino (sw)',
 'amc matador (sw)',
 'pontiac catalina',
 'chevrolet bel air',
 'plymouth grand fury',
 'ford ltd',
 'chevrolet monza 2+2',
 'ford mustang ii',
 'chevrolet chevelle malibu classic',
 'dodge coronet brougham',
 'amc matador',
 'ford gran torino',
 'plymouth volare premier v8',
 'cadillac seville',
 'chevy c10',
 'ford f108',
 'dodge d100',
 'chevrolet caprice classic',
 'oldsmobile cutlass supreme',
 'dodge monaco brougham',
 'mercury cougar brougham',
 'pontiac grand prix lj',
 'chevrolet monte carlo landau',
 'chrysler cordoba',
 'ford thunderbird',
 'oldsmobile cutlass salon brougham',
 'dodge diplomat',
 'mercury monarch ghia',
 'chevrolet monte carlo landau',
 'ford futura',
 'dodge magnum xe',
 'chevrolet caprice classic',
 'ford ltd landau',
 'mercury grand marquis',
 'dodge st. regis',
 'buick estate wagon (sw)',
 'ford country squire (sw)',
 'chevrolet malibu classic (sw)',
 'chrysler lebaron town @ country (sw)',
 'cadillac eldorado',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass ls']

## 3. Statistical Analysis
Compute the 25th, 50th, and 75th percentiles of the weight column using NumPy.

In [529]:
weight_data = np.array([data[i][4] for i in range(1,len(data))]).astype('int')
weight_data

array([3504, 3693, 3436, 3433, 3449, 4341, 4354, 4312, 4425, 3850, 3563,
       3609, 3761, 3086, 2372, 2833, 2774, 2587, 2130, 1835, 2672, 2430,
       2375, 2234, 2648, 4615, 4376, 4382, 4732, 2130, 2264, 2228, 2046,
       2634, 3439, 3329, 3302, 3288, 4209, 4464, 4154, 4096, 4955, 4746,
       5140, 2962, 2408, 3282, 3139, 2220, 2123, 2074, 2065, 1773, 1613,
       1834, 1955, 2278, 2126, 2254, 2408, 2226, 4274, 4385, 4135, 4129,
       3672, 4633, 4502, 4456, 4422, 2330, 3892, 4098, 4294, 4077, 2933,
       2511, 2979, 2189, 2395, 2288, 2506, 2164, 2100, 4100, 3672, 3988,
       4042, 3777, 4952, 4464, 4363, 4237, 4735, 4951, 3821, 3121, 3278,
       2945, 3021, 2904, 1950, 4997, 4906, 4654, 4499, 2789, 2279, 2401,
       2379, 2124, 2310, 2472, 2265, 4082, 4278, 1867, 2158, 2582, 2868,
       3399, 2660, 2807, 3664, 3102, 2875, 2901, 3336, 1950, 2451, 1836,
       2542, 3781, 3632, 3613, 4141, 4699, 4457, 4638, 4257, 2219, 1963,
       2300, 1649, 2003, 2125, 2108, 2246, 2489, 2391, 2000, 3264, 3459,
       3432, 3158, 4668, 4440, 4498, 4657, 3907, 3897, 3730, 3785, 3039,
       3221, 3169, 2171, 2639, 2914, 2592, 2702, 2223, 2545, 2984, 1937,
       3211, 2694, 2957, 2945, 2671, 1795, 2464, 2220, 2572, 2255, 2202,
       4215, 4190, 3962, 4215, 3233, 3353, 3012, 3085, 2035, 2164, 1937,
       1795, 3651, 3574, 3645, 3193, 1825, 1990, 2155, 2565, 3150, 3940,
       3270, 2930, 3820, 4380, 4055, 3870, 3755, 2045, 2155, 1825, 2300,
       1945, 3880, 4060, 4140, 4295, 3520, 3425, 3630, 3525, 4220, 4165,
       4325, 4335, 1940, 2740, 2265, 2755, 2051, 2075, 1985, 2190, 2815,
       2600, 2720, 1985, 1800, 1985, 2070, 1800, 3365, 3735, 3570, 3535,
       3155, 2965, 2720, 3430, 3210, 3380, 3070, 3620, 3410, 3425, 3445,
       3205, 4080, 2155, 2560, 2300, 2230, 2515, 2745, 2855, 2405, 2830,
       3140, 2795, 3410, 1990, 2135, 3245, 2990, 2890, 3265, 3360, 3840,
       3725, 3955, 3830, 4360, 4054, 3605, 3940, 1925, 1975, 1915, 2670,
       3530, 3900, 3190, 3420, 2200, 2150, 2020, 2130, 2670, 2595, 2700,
       2556, 2144, 1968, 2120, 2019, 2678, 2870, 3003, 3381, 2188, 2711,
       2542, 2434, 2265, 2110, 2800, 2110, 2085, 2335, 2950, 3250, 1850,
       1835, 2145, 1845, 2910, 2420, 2500, 2905, 2290, 2490, 2635, 2620,
       2725, 2385, 1755, 1875, 1760, 2065, 1975, 2050, 1985, 2215, 2045,
       2380, 2190, 2320, 2210, 2350, 2615, 2635, 3230, 3160, 2900, 2930,
       3415, 3725, 3060, 3465, 2605, 2640, 2395, 2575, 2525, 2735, 2865,
       3035, 1980, 2025, 1970, 2125, 2125, 2160, 2205, 2245, 1965, 1965,
       1995, 2945, 3015, 2585, 2835, 2665, 2370, 2950, 2790, 2130, 2295,
       2625, 2720])

In [530]:
print("25th percentile of weight column = ", np.percentile(weight_data,25))
print("50th percentile of weight column = ", np.percentile(weight_data,50))
print("75th percentile of weight column = ", np.percentile(weight_data,75))

25th percentile of weight column =  2223.75
50th percentile of weight column =  2803.5
75th percentile of weight column =  3608.0

## 4. Array Manipulation
Convert the acceleration column into a NumPy array and normalize its values (scale between 0 and 1).

In [531]:
acceleration_data = np.array([data[i][5] for i in range(1,len(data))]).astype('float64')
acceleration_data

array([12. , 11.5, 11. , 12. , 10.5, 10. ,  9. ,  8.5, 10. ,  8.5, 10. ,
        8. ,  9.5, 10. , 15. , 15.5, 15.5, 16. , 14.5, 20.5, 17.5, 14.5,
       17.5, 12.5, 15. , 14. , 15. , 13.5, 18.5, 14.5, 15.5, 14. , 19. ,
       13. , 15.5, 15.5, 15.5, 15.5, 12. , 11.5, 13.5, 13. , 11.5, 12. ,
       12. , 13.5, 19. , 15. , 14.5, 14. , 14. , 19.5, 14.5, 19. , 18. ,
       19. , 20.5, 15.5, 17. , 23.5, 19.5, 16.5, 12. , 12. , 13.5, 13. ,
       11.5, 11. , 13.5, 13.5, 12.5, 13.5, 12.5, 14. , 16. , 14. , 14.5,
       18. , 19.5, 18. , 16. , 17. , 14.5, 15. , 16.5, 13. , 11.5, 13. ,
       14.5, 12.5, 11.5, 12. , 13. , 14.5, 11. , 11. , 11. , 16.5, 18. ,
       16. , 16.5, 16. , 21. , 14. , 12.5, 13. , 12.5, 15. , 19. , 19.5,
       16.5, 13.5, 18.5, 14. , 15.5, 13. ,  9.5, 19.5, 15.5, 14. , 15.5,
       11. , 14. , 13.5, 11. , 16.5, 17. , 16. , 17. , 19. , 16.5, 21. ,
       17. , 17. , 18. , 16.5, 14. , 14.5, 13.5, 16. , 15.5, 16.5, 15.5,
       14.5, 16.5, 19. , 14.5, 15.5, 14. , 15. , 15.5, 16. , 16. , 16. ,
       21. , 19.5, 11.5, 14. , 14.5, 13.5, 21. , 18.5, 19. , 19. , 15. ,
       13.5, 12. , 16. , 17. , 16. , 18.5, 13.5, 16.5, 17. , 14.5, 14. ,
       17. , 15. , 17. , 14.5, 13.5, 17.5, 15.5, 16.9, 14.9, 17.7, 15.3,
       13. , 13. , 13.9, 12.8, 15.4, 14.5, 17.6, 17.6, 22.2, 22.1, 14.2,
       17.4, 17.7, 21. , 16.2, 17.8, 12.2, 17. , 16.4, 13.6, 15.7, 13.2,
       21.9, 15.5, 16.7, 12.1, 12. , 15. , 14. , 18.5, 14.8, 18.6, 15.5,
       16.8, 12.5, 19. , 13.7, 14.9, 16.4, 16.9, 17.7, 19. , 11.1, 11.4,
       12.2, 14.5, 14.5, 16. , 18.2, 15.8, 17. , 15.9, 16.4, 14.1, 14.5,
       12.8, 13.5, 21.5, 14.4, 19.4, 18.6, 16.4, 15.5, 13.2, 12.8, 19.2,
       18.2, 15.8, 15.4, 17.2, 17.2, 15.8, 16.7, 18.7, 15.1, 13.2, 13.4,
       11.2, 13.7, 16.5, 14.2, 14.7, 14.5, 14.8, 16.7, 17.6, 14.9, 15.9,
       13.6, 15.7, 15.8, 14.9, 16.6, 15.4, 18.2, 17.3, 18.2, 16.6, 15.4,
       13.4, 13.2, 15.2, 14.9, 14.3, 15. , 13. , 14. , 15.2, 14.4, 15. ,
       20.1, 17.4, 24.8, 22.2, 13.2, 14.9, 19.2, 14.7, 16. , 11.3, 12.9,
       13.2, 14.7, 18.8, 15.5, 16.4, 16.5, 18.1, 20.1, 18.7, 15.8, 15.5,
       17.5, 15. , 15.2, 17.9, 14.4, 19.2, 21.7, 23.7, 19.9, 21.8, 13.8,
       17.3, 18. , 15.3, 11.4, 12.5, 15.1, 14.3, 17. , 15.7, 16.4, 14.4,
       12.6, 12.9, 16.9, 16.4, 16.1, 17.8, 19.4, 17.3, 16. , 14.9, 16.2,
       20.7, 14.2, 15.8, 14.4, 16.8, 14.8, 18.3, 20.4, 19.6, 12.6, 13.8,
       15.8, 19. , 17.1, 16.6, 19.6, 18.6, 18. , 16.2, 16. , 18. , 16.4,
       20.5, 15.3, 18.2, 17.6, 14.7, 17.3, 14.5, 14.5, 16.9, 15. , 15.7,
       16.2, 16.4, 17. , 14.5, 14.7, 13.9, 13. , 17.3, 15.6, 24.6, 11.6,
       18.6, 19.4])

In [532]:
normalised_acceleration_data = acceleration_data/norm(acceleration_data)
print("Normalised acceleration values = \n", normalised_acceleration_data)

Normalised acceleration values =
 [0.03804627 0.03646101 0.03487575 0.03804627 0.03329049 0.03170523
 0.0285347  0.02694944 0.03170523 0.02694944 0.03170523 0.02536418
 0.03011997 0.03170523 0.04755784 0.0491431  0.0491431  0.05072836
 0.04597258 0.06499572 0.05548415 0.04597258 0.05548415 0.03963153
 0.04755784 0.04438732 0.04755784 0.04280206 0.05865467 0.04597258
 0.0491431  0.04438732 0.06023993 0.0412168  0.0491431  0.0491431
 0.0491431  0.0491431  0.03804627 0.03646101 0.04280206 0.0412168
 0.03646101 0.03804627 0.03804627 0.04280206 0.06023993 0.04755784
 0.04597258 0.04438732 0.04438732 0.06182519 0.04597258 0.06023993
 0.05706941 0.06023993 0.06499572 0.0491431  0.05389889 0.07450728
 0.06182519 0.05231362 0.03804627 0.03804627 0.04280206 0.0412168
 0.03646101 0.03487575 0.04280206 0.04280206 0.03963153 0.04280206
 0.03963153 0.04438732 0.05072836 0.04438732 0.04597258 0.05706941
 0.06182519 0.05706941 0.05072836 0.05389889 0.04597258 0.04755784
 0.05231362 0.0412168  0.03646101 0.0412168  0.04597258 0.03963153
 0.03646101 0.03804627 0.0412168  0.04597258 0.03487575 0.03487575
 0.03487575 0.05231362 0.05706941 0.05072836 0.05231362 0.05072836
 0.06658098 0.04438732 0.03963153 0.0412168  0.03963153 0.04755784
 0.06023993 0.06182519 0.05231362 0.04280206 0.05865467 0.04438732
 0.0491431  0.0412168  0.03011997 0.06182519 0.0491431  0.04438732
 0.0491431  0.03487575 0.04438732 0.04280206 0.03487575 0.05231362
 0.05389889 0.05072836 0.05389889 0.06023993 0.05231362 0.06658098
 0.05389889 0.05389889 0.05706941 0.05231362 0.04438732 0.04597258
 0.04280206 0.05072836 0.0491431  0.05231362 0.0491431  0.04597258
 0.05231362 0.06023993 0.04597258 0.0491431  0.04438732 0.04755784
 0.0491431  0.05072836 0.05072836 0.05072836 0.06658098 0.06182519
 0.03646101 0.04438732 0.04597258 0.04280206 0.06658098 0.05865467
 0.06023993 0.06023993 0.04755784 0.04280206 0.03804627 0.05072836
 0.05389889 0.05072836 0.05865467 0.04280206 0.05231362 0.05389889
 0.04597258 0.04438732 0.05389889 0.04755784 0.05389889 0.04597258
 0.04280206 0.05548415 0.0491431  0.05358183 0.04724079 0.05611825
 0.048509   0.0412168  0.0412168  0.04407027 0.04058269 0.04882605
 0.04597258 0.0558012  0.0558012  0.0703856  0.07006855 0.04502142
 0.0551671  0.05611825 0.06658098 0.05136247 0.0564353  0.03868038
 0.05389889 0.05199657 0.04311911 0.04977721 0.0418509  0.06943445
 0.0491431  0.05294773 0.03836332 0.03804627 0.04755784 0.04438732
 0.05865467 0.04692374 0.05897172 0.0491431  0.05326478 0.03963153
 0.06023993 0.04343616 0.04724079 0.05199657 0.05358183 0.05611825
 0.06023993 0.0351928  0.03614396 0.03868038 0.04597258 0.04597258
 0.05072836 0.05770351 0.05009426 0.05389889 0.05041131 0.05199657
 0.04470437 0.04597258 0.04058269 0.04280206 0.06816624 0.04565553
 0.06150814 0.05897172 0.05199657 0.0491431  0.0418509  0.04058269
 0.06087404 0.05770351 0.05009426 0.04882605 0.05453299 0.05453299
 0.05009426 0.05294773 0.05928877 0.04787489 0.0418509  0.042485
 0.03550985 0.04343616 0.05231362 0.04502142 0.04660668 0.04597258
 0.04692374 0.05294773 0.0558012  0.04724079 0.05041131 0.04311911
 0.04977721 0.05009426 0.04724079 0.05263068 0.04882605 0.05770351
 0.05485004 0.05770351 0.05263068 0.04882605 0.042485   0.0418509
 0.04819195 0.04724079 0.04533847 0.04755784 0.0412168  0.04438732
 0.04819195 0.04565553 0.04755784 0.06372751 0.0551671  0.07862896
 0.0703856  0.0418509  0.04724079 0.06087404 0.04660668 0.05072836
 0.03582691 0.04089974 0.0418509  0.04660668 0.05960583 0.0491431
 0.05199657 0.05231362 0.05738646 0.06372751 0.05928877 0.05009426
 0.0491431  0.05548415 0.04755784 0.04819195 0.05675236 0.04565553
 0.06087404 0.06880034 0.07514139 0.0630934  0.06911739 0.04375321
 0.05485004 0.05706941 0.048509   0.03614396 0.03963153 0.04787489
 0.04533847 0.05389889 0.04977721 0.05199657 0.04565553 0.03994859
 0.04089974 0.05358183 0.05199657 0.05104542 0.0564353  0.06150814
 0.05485004 0.05072836 0.04724079 0.05136247 0.06562982 0.04502142
 0.05009426 0.04565553 0.05326478 0.04692374 0.05802057 0.06467866
 0.06214224 0.03994859 0.04375321 0.05009426 0.06023993 0.05421594
 0.05263068 0.06214224 0.05897172 0.05706941 0.05136247 0.05072836
 0.05706941 0.05199657 0.06499572 0.048509   0.05770351 0.0558012
 0.04660668 0.05485004 0.04597258 0.04597258 0.05358183 0.04755784
 0.04977721 0.05136247 0.05199657 0.05389889 0.04597258 0.04660668
 0.04407027 0.0412168  0.05485004 0.04946015 0.07799486 0.03677806
 0.05897172 0.06150814]

In [533]:
normalised_acceleration_data_min_max = (acceleration_data-np.min(acceleration_data))/(np.max(acceleration_data)-np.min(acceleration_data))
print("Normalised acceleration values using min-max scaling = \n", normalised_acceleration_data_min_max)

Normalised acceleration values using min-max scaling =
 [0.23809524 0.20833333 0.17857143 0.23809524 0.14880952 0.11904762
 0.05952381 0.0297619  0.11904762 0.0297619  0.11904762 0.
 0.08928571 0.11904762 0.41666667 0.44642857 0.44642857 0.47619048
 0.38690476 0.74404762 0.56547619 0.38690476 0.56547619 0.26785714
 0.41666667 0.35714286 0.41666667 0.32738095 0.625      0.38690476
 0.44642857 0.35714286 0.6547619  0.29761905 0.44642857 0.44642857
 0.44642857 0.44642857 0.23809524 0.20833333 0.32738095 0.29761905
 0.20833333 0.23809524 0.23809524 0.32738095 0.6547619  0.41666667
 0.38690476 0.35714286 0.35714286 0.68452381 0.38690476 0.6547619
 0.5952381  0.6547619  0.74404762 0.44642857 0.53571429 0.92261905
 0.68452381 0.50595238 0.23809524 0.23809524 0.32738095 0.29761905
 0.20833333 0.17857143 0.32738095 0.32738095 0.26785714 0.32738095
 0.26785714 0.35714286 0.47619048 0.35714286 0.38690476 0.5952381
 0.68452381 0.5952381  0.47619048 0.53571429 0.38690476 0.41666667
 0.50595238 0.29761905 0.20833333 0.29761905 0.38690476 0.26785714
 0.20833333 0.23809524 0.29761905 0.38690476 0.17857143 0.17857143
 0.17857143 0.50595238 0.5952381  0.47619048 0.50595238 0.47619048
 0.77380952 0.35714286 0.26785714 0.29761905 0.26785714 0.41666667
 0.6547619  0.68452381 0.50595238 0.32738095 0.625      0.35714286
 0.44642857 0.29761905 0.08928571 0.68452381 0.44642857 0.35714286
 0.44642857 0.17857143 0.35714286 0.32738095 0.17857143 0.50595238
 0.53571429 0.47619048 0.53571429 0.6547619  0.50595238 0.77380952
 0.53571429 0.53571429 0.5952381  0.50595238 0.35714286 0.38690476
 0.32738095 0.47619048 0.44642857 0.50595238 0.44642857 0.38690476
 0.50595238 0.6547619  0.38690476 0.44642857 0.35714286 0.41666667
 0.44642857 0.47619048 0.47619048 0.47619048 0.77380952 0.68452381
 0.20833333 0.35714286 0.38690476 0.32738095 0.77380952 0.625
 0.6547619  0.6547619  0.41666667 0.32738095 0.23809524 0.47619048
 0.53571429 0.47619048 0.625      0.32738095 0.50595238 0.53571429
 0.38690476 0.35714286 0.53571429 0.41666667 0.53571429 0.38690476
 0.32738095 0.56547619 0.44642857 0.5297619  0.41071429 0.57738095
 0.43452381 0.29761905 0.29761905 0.35119048 0.28571429 0.44047619
 0.38690476 0.57142857 0.57142857 0.8452381  0.83928571 0.36904762
 0.55952381 0.57738095 0.77380952 0.48809524 0.58333333 0.25
 0.53571429 0.5        0.33333333 0.45833333 0.30952381 0.82738095
 0.44642857 0.51785714 0.24404762 0.23809524 0.41666667 0.35714286
 0.625      0.4047619  0.63095238 0.44642857 0.52380952 0.26785714
 0.6547619  0.33928571 0.41071429 0.5        0.5297619  0.57738095
 0.6547619  0.18452381 0.20238095 0.25       0.38690476 0.38690476
 0.47619048 0.60714286 0.46428571 0.53571429 0.4702381  0.5
 0.36309524 0.38690476 0.28571429 0.32738095 0.80357143 0.38095238
 0.67857143 0.63095238 0.5        0.44642857 0.30952381 0.28571429
 0.66666667 0.60714286 0.46428571 0.44047619 0.54761905 0.54761905
 0.46428571 0.51785714 0.63690476 0.42261905 0.30952381 0.32142857
 0.19047619 0.33928571 0.50595238 0.36904762 0.39880952 0.38690476
 0.4047619  0.51785714 0.57142857 0.41071429 0.4702381  0.33333333
 0.45833333 0.46428571 0.41071429 0.51190476 0.44047619 0.60714286
 0.55357143 0.60714286 0.51190476 0.44047619 0.32142857 0.30952381
 0.42857143 0.41071429 0.375      0.41666667 0.29761905 0.35714286
 0.42857143 0.38095238 0.41666667 0.7202381  0.55952381 1.
 0.8452381  0.30952381 0.41071429 0.66666667 0.39880952 0.47619048
 0.19642857 0.29166667 0.30952381 0.39880952 0.64285714 0.44642857
 0.5        0.50595238 0.60119048 0.7202381  0.63690476 0.46428571
 0.44642857 0.56547619 0.41666667 0.42857143 0.58928571 0.38095238
 0.66666667 0.81547619 0.93452381 0.70833333 0.82142857 0.3452381
 0.55357143 0.5952381  0.43452381 0.20238095 0.26785714 0.42261905
 0.375      0.53571429 0.45833333 0.5        0.38095238 0.27380952
 0.29166667 0.5297619  0.5        0.48214286 0.58333333 0.67857143
 0.55357143 0.47619048 0.41071429 0.48809524 0.75595238 0.36904762
 0.46428571 0.38095238 0.52380952 0.4047619  0.61309524 0.73809524
 0.69047619 0.27380952 0.3452381  0.46428571 0.6547619  0.54166667
 0.51190476 0.69047619 0.63095238 0.5952381  0.48809524 0.47619048
 0.5952381  0.5        0.74404762 0.43452381 0.60714286 0.57142857
 0.39880952 0.55357143 0.38690476 0.38690476 0.5297619  0.41666667
 0.45833333 0.48809524 0.5        0.53571429 0.38690476 0.39880952
 0.35119048 0.29761905 0.55357143 0.45238095 0.98809524 0.21428571
 0.63095238 0.67857143]

## 5. Broadcasting
Increase all horsepower values by 10% and store the updated values in a new NumPy array. Handle missing data (if any) by replacing it with the mean of the column before applying the increase.

In [534]:
horse_power_data = np.array([data[i][3] for i in range(1,len(data))])
horse_power_data

array(['130', '165', '150', '150', '140', '198', '220', '215', '225',
       '190', '170', '160', '150', '225', '95', '95', '97', '85', '88',
       '46', '87', '90', '95', '113', '90', '215', '200', '210', '193',
       '88', '90', '95', '?', '100', '105', '100', '88', '100', '165',
       '175', '153', '150', '180', '170', '175', '110', '72', '100', '88',
       '86', '90', '70', '76', '65', '69', '60', '70', '95', '80', '54',
       '90', '86', '165', '175', '150', '153', '150', '208', '155', '160',
       '190', '97', '150', '130', '140', '150', '112', '76', '87', '69',
       '86', '92', '97', '80', '88', '175', '150', '145', '137', '150',
       '198', '150', '158', '150', '215', '225', '175', '105', '100',
       '100', '88', '95', '46', '150', '167', '170', '180', '100', '88',
       '72', '94', '90', '85', '107', '90', '145', '230', '49', '75',
       '91', '112', '150', '110', '122', '180', '95', '?', '100', '100',
       '67', '80', '65', '75', '100', '110', '105', '140', '150', '150',
       '140', '150', '83', '67', '78', '52', '61', '75', '75', '75', '97',
       '93', '67', '95', '105', '72', '72', '170', '145', '150', '148',
       '110', '105', '110', '95', '110', '110', '129', '75', '83', '100',
       '78', '96', '71', '97', '97', '70', '90', '95', '88', '98', '115',
       '53', '86', '81', '92', '79', '83', '140', '150', '120', '152',
       '100', '105', '81', '90', '52', '60', '70', '53', '100', '78',
       '110', '95', '71', '70', '75', '72', '102', '150', '88', '108',
       '120', '180', '145', '130', '150', '68', '80', '58', '96', '70',
       '145', '110', '145', '130', '110', '105', '100', '98', '180',
       '170', '190', '149', '78', '88', '75', '89', '63', '83', '67',
       '78', '97', '110', '110', '48', '66', '52', '70', '60', '110',
       '140', '139', '105', '95', '85', '88', '100', '90', '105', '85',
       '110', '120', '145', '165', '139', '140', '68', '95', '97', '75',
       '95', '105', '85', '97', '103', '125', '115', '133', '71', '68',
       '115', '85', '88', '90', '110', '130', '129', '138', '135', '155',
       '142', '125', '150', '71', '65', '80', '80', '77', '125', '71',
       '90', '70', '70', '65', '69', '90', '115', '115', '90', '76', '60',
       '70', '65', '90', '88', '90', '90', '78', '90', '75', '92', '75',
       '65', '105', '65', '48', '48', '67', '67', '67', '?', '67', '62',
       '132', '100', '88', '?', '72', '84', '84', '92', '110', '84', '58',
       '64', '60', '67', '65', '62', '68', '63', '65', '65', '74', '?',
       '75', '75', '100', '74', '80', '76', '116', '120', '110', '105',
       '88', '85', '88', '88', '88', '85', '84', '90', '92', '?', '74',
       '68', '68', '63', '70', '88', '75', '70', '67', '67', '67', '110',
       '85', '92', '112', '96', '84', '90', '86', '52', '84', '79', '82'],
      dtype='<U3')

In [535]:
mean_sum = 0
count = 0
for i in range(len(horse_power_data)):
    if(horse_power_data[i] != '?'):
        count += 1
        mean_sum += horse_power_data[i].astype('int')
mean = mean_sum/count

for i in range(len(horse_power_data)):
    if(horse_power_data[i] == '?'):
        horse_power_data[i] = np.round(mean)

horse_power_data = horse_power_data.astype('int')

horse_power_data

array([130, 165, 150, 150, 140, 198, 220, 215, 225, 190, 170, 160, 150,
       225,  95,  95,  97,  85,  88,  46,  87,  90,  95, 113,  90, 215,
       200, 210, 193,  88,  90,  95, 104, 100, 105, 100,  88, 100, 165,
       175, 153, 150, 180, 170, 175, 110,  72, 100,  88,  86,  90,  70,
        76,  65,  69,  60,  70,  95,  80,  54,  90,  86, 165, 175, 150,
       153, 150, 208, 155, 160, 190,  97, 150, 130, 140, 150, 112,  76,
        87,  69,  86,  92,  97,  80,  88, 175, 150, 145, 137, 150, 198,
       150, 158, 150, 215, 225, 175, 105, 100, 100,  88,  95,  46, 150,
       167, 170, 180, 100,  88,  72,  94,  90,  85, 107,  90, 145, 230,
        49,  75,  91, 112, 150, 110, 122, 180,  95, 104, 100, 100,  67,
        80,  65,  75, 100, 110, 105, 140, 150, 150, 140, 150,  83,  67,
        78,  52,  61,  75,  75,  75,  97,  93,  67,  95, 105,  72,  72,
       170, 145, 150, 148, 110, 105, 110,  95, 110, 110, 129,  75,  83,
       100,  78,  96,  71,  97,  97,  70,  90,  95,  88,  98, 115,  53,
        86,  81,  92,  79,  83, 140, 150, 120, 152, 100, 105,  81,  90,
        52,  60,  70,  53, 100,  78, 110,  95,  71,  70,  75,  72, 102,
       150,  88, 108, 120, 180, 145, 130, 150,  68,  80,  58,  96,  70,
       145, 110, 145, 130, 110, 105, 100,  98, 180, 170, 190, 149,  78,
        88,  75,  89,  63,  83,  67,  78,  97, 110, 110,  48,  66,  52,
        70,  60, 110, 140, 139, 105,  95,  85,  88, 100,  90, 105,  85,
       110, 120, 145, 165, 139, 140,  68,  95,  97,  75,  95, 105,  85,
        97, 103, 125, 115, 133,  71,  68, 115,  85,  88,  90, 110, 130,
       129, 138, 135, 155, 142, 125, 150,  71,  65,  80,  80,  77, 125,
        71,  90,  70,  70,  65,  69,  90, 115, 115,  90,  76,  60,  70,
        65,  90,  88,  90,  90,  78,  90,  75,  92,  75,  65, 105,  65,
        48,  48,  67,  67,  67, 104,  67,  62, 132, 100,  88, 104,  72,
        84,  84,  92, 110,  84,  58,  64,  60,  67,  65,  62,  68,  63,
        65,  65,  74, 104,  75,  75, 100,  74,  80,  76, 116, 120, 110,
       105,  88,  85,  88,  88,  88,  85,  84,  90,  92, 104,  74,  68,
        68,  63,  70,  88,  75,  70,  67,  67,  67, 110,  85,  92, 112,
        96,  84,  90,  86,  52,  84,  79,  82])

In [536]:
increased_horse_power_data = horse_power_data+horse_power_data*0.1
print("Increased horsepower (+10%) = \n", increased_horse_power_data)

Increased horsepower (+10%) =
 [143.  181.5 165.  165.  154.  217.8 242.  236.5 247.5 209.  187.  176.
 165.  247.5 104.5 104.5 106.7  93.5  96.8  50.6  95.7  99.  104.5 124.3
  99.  236.5 220.  231.  212.3  96.8  99.  104.5 114.4 110.  115.5 110.
  96.8 110.  181.5 192.5 168.3 165.  198.  187.  192.5 121.   79.2 110.
  96.8  94.6  99.   77.   83.6  71.5  75.9  66.   77.  104.5  88.   59.4
  99.   94.6 181.5 192.5 165.  168.3 165.  228.8 170.5 176.  209.  106.7
 165.  143.  154.  165.  123.2  83.6  95.7  75.9  94.6 101.2 106.7  88.
  96.8 192.5 165.  159.5 150.7 165.  217.8 165.  173.8 165.  236.5 247.5
 192.5 115.5 110.  110.   96.8 104.5  50.6 165.  183.7 187.  198.  110.
  96.8  79.2 103.4  99.   93.5 117.7  99.  159.5 253.   53.9  82.5 100.1
 123.2 165.  121.  134.2 198.  104.5 114.4 110.  110.   73.7  88.   71.5
  82.5 110.  121.  115.5 154.  165.  165.  154.  165.   91.3  73.7  85.8
  57.2  67.1  82.5  82.5  82.5 106.7 102.3  73.7 104.5 115.5  79.2  79.2
 187.  159.5 165.  162.8 121.  115.5 121.  104.5 121.  121.  141.9  82.5
  91.3 110.   85.8 105.6  78.1 106.7 106.7  77.   99.  104.5  96.8 107.8
 126.5  58.3  94.6  89.1 101.2  86.9  91.3 154.  165.  132.  167.2 110.
 115.5  89.1  99.   57.2  66.   77.   58.3 110.   85.8 121.  104.5  78.1
  77.   82.5  79.2 112.2 165.   96.8 118.8 132.  198.  159.5 143.  165.
  74.8  88.   63.8 105.6  77.  159.5 121.  159.5 143.  121.  115.5 110.
 107.8 198.  187.  209.  163.9  85.8  96.8  82.5  97.9  69.3  91.3  73.7
  85.8 106.7 121.  121.   52.8  72.6  57.2  77.   66.  121.  154.  152.9
 115.5 104.5  93.5  96.8 110.   99.  115.5  93.5 121.  132.  159.5 181.5
 152.9 154.   74.8 104.5 106.7  82.5 104.5 115.5  93.5 106.7 113.3 137.5
 126.5 146.3  78.1  74.8 126.5  93.5  96.8  99.  121.  143.  141.9 151.8
 148.5 170.5 156.2 137.5 165.   78.1  71.5  88.   88.   84.7 137.5  78.1
  99.   77.   77.   71.5  75.9  99.  126.5 126.5  99.   83.6  66.   77.
  71.5  99.   96.8  99.   99.   85.8  99.   82.5 101.2  82.5  71.5 115.5
  71.5  52.8  52.8  73.7  73.7  73.7 114.4  73.7  68.2 145.2 110.   96.8
 114.4  79.2  92.4  92.4 101.2 121.   92.4  63.8  70.4  66.   73.7  71.5
  68.2  74.8  69.3  71.5  71.5  81.4 114.4  82.5  82.5 110.   81.4  88.
  83.6 127.6 132.  121.  115.5  96.8  93.5  96.8  96.8  96.8  93.5  92.4
  99.  101.2 114.4  81.4  74.8  74.8  69.3  77.   96.8  82.5  77.   73.7
  73.7  73.7 121.   93.5 101.2 123.2 105.6  92.4  99.   94.6  57.2  92.4
  86.9  90.2]

## 6. Boolean Indexing
Find the average displacement of cars with an origin of 2 (Europe) using NumPy indexing.

In [537]:
displacement_data = np.array([data[i][2] for i in range(1,len(data))])
origin_data = np.array([data[i][7] for i in range(1,len(data))]).astype('int')
for i in range(len(displacement_data)):
    print(displacement_data[i], origin_data[i])

307 1
350 1
318 1
304 1
302 1
429 1
454 1
440 1
455 1
390 1
383 1
340 1
400 1
455 1
113 3
198 1
199 1
200 1
97 3
97 2
110 2
107 2
104 2
121 2
199 1
360 1
307 1
318 1
304 1
97 3
140 1
113 3
98 1
232 1
225 1
250 1
250 1
232 1
350 1
400 1
351 1
318 1
383 1
400 1
400 1
258 1
140 1
250 1
250 1
122 1
116 2
79 2
88 2
71 3
72 3
97 2
91 1
113 3
97.5 1
97 2
140 1
122 1
350 1
400 1
318 1
351 1
304 1
429 1
350 1
350 1
400 1
70 3
304 1
307 1
302 1
318 1
121 2
121 2
120 2
96 2
122 1
97 3
120 3
98 1
97 3
350 1
304 1
350 1
302 1
318 1
429 1
400 1
351 1
318 1
440 1
455 1
360 1
225 1
250 1
232 1
250 1
198 1
97 2
400 1
400 1
360 1
350 1
232 1
97 3
140 1
108 3
70 3
122 1
155 1
98 2
350 1
400 1
68 2
116 2
114 2
121 2
318 1
121 2
156 3
350 1
198 1
200 1
232 1
250 1
79 3
122 1
71 3
140 1
250 1
258 1
225 1
302 1
350 1
318 1
302 1
304 1
98 2
79 2
97 2
76 3
83 3
90 1
90 2
116 2
120 3
108 3
79 2
225 1
250 1
250 1
250 1
400 1
350 1
318 1
351 1
231 1
250 1
258 1
225 1
231 1
262 1
302 1
97 3
140 1
232 1
140 1
134 3
90 2
119 3
171 1
90 2
232 1
115 2
120 2
121 2
121 2
91 3
107 2
116 2
140 1
98 1
101 2
305 1
318 1
304 1
351 1
225 1
250 1
200 1
232 1
85 1
98 1
90 2
91 3
225 1
250 1
250 1
258 1
97 2
85 3
97 3
140 1
130 2
318 1
120 2
156 3
168 2
350 1
350 1
302 1
318 1
98 3
111 1
79 2
122 1
85 3
305 1
260 1
318 1
302 1
250 1
231 1
225 1
250 1
400 1
350 1
400 1
351 1
97 2
151 1
97 3
140 1
98 1
98 1
97 3
97 2
146 3
121 2
80 3
90 2
98 1
78 3
85 3
91 3
260 1
318 1
302 1
231 1
200 1
200 1
140 1
225 1
232 1
231 1
200 1
225 1
258 1
305 1
231 1
302 1
318 1
98 1
134 3
119 3
105 1
134 3
156 1
151 1
119 3
131 2
163 2
121 2
163 2
89 2
98 3
231 1
200 1
140 1
232 1
225 1
305 1
302 1
351 1
318 1
350 1
351 1
267 1
360 1
89 2
86 3
98 1
121 1
183 2
350 1
141 2
260 1
105 1
105 1
85 3
91 2
151 1
173 1
173 1
151 1
98 2
89 3
98 1
86 3
151 1
140 1
151 1
225 1
97 2
134 3
120 3
119 3
108 3
86 3
156 1
85 3
90 2
90 2
121 2
146 2
91 3
85 2
97 3
89 2
168 3
70 3
122 2
140 1
107 3
135 1
151 1
156 1
173 1
135 1
79 3
86 1
81 3
97 3
85 3
89 3
91 3
105 1
98 1
98 1
105 2
100 2
107 3
108 3
119 3
120 3
141 2
145 2
168 3
146 3
231 1
350 1
200 1
225 1
112 1
112 1
112 1
112 1
135 1
151 1
140 1
151 1
105 2
91 3
91 3
105 1
98 1
120 3
107 3
108 3
91 3
91 3
91 3
181 1
262 1
156 1
232 1
144 3
135 1
151 1
140 1
97 2
135 1
120 1
119 1

In [538]:
origin_boolean_mask = origin_data == 2
origin_boolean_mask

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
        True,  True,  True,  True, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
       False, False, False,  True,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False,  True,  True,  True,
        True, False,  True,  True, False, False,  True, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False,  True, False, False, False,
        True, False,  True, False,  True, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False,  True, False,  True,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
        True, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False])

In [539]:
print("Average displacement of cars with origin 2 (Europe) = ", np.round(np.mean(displacement_data[origin_boolean_mask].astype('float64')),2))

Average displacement of cars with origin 2 (Europe) =  109.14

## 7. Matrix Operations
Create a 2D NumPy array containing the columns mpg, horsepower, and weight.  
Compute the dot product of this matrix with a given vector [1, 0.5, -0.2].

In [540]:
d2_array = np.array([mpg_data, horse_power_data, weight_data])
print(d2_array)
print(d2_array.shape)

[[  18.   15.   18. ...   32.   28.   31.]
 [ 130.  165.  150. ...   84.   79.   82.]
 [3504. 3693. 3436. ... 2295. 2625. 2720.]]
(3, 398)

In [541]:
vector = np.array([1, 0.5, -0.2])
print(vector)
print(vector.shape)

[ 1.   0.5 -0.2]
(3,)

In [542]:
dot_product = np.dot(vector,d2_array)
print("Dot product = ", dot_product)
print(dot_product.shape)

Dot product =  [-617.8 -641.1 -594.2 -595.6 -602.8 -754.2 -746.8 -740.9 -758.5 -660.
 -612.6 -627.8 -662.2 -490.7 -402.9 -497.1 -488.3 -453.9 -355.  -318.
 -465.9 -417.  -402.5 -364.3 -463.6 -805.5 -765.2 -760.4 -840.9 -355.
 -379.8 -373.1 -332.2 -457.8 -619.3 -598.8 -597.4 -589.6 -745.3 -791.3
 -740.3 -730.2 -889.  -851.2 -927.5 -519.4 -423.6 -587.4 -565.8 -378.
 -351.6 -349.8 -345.  -291.1 -253.1 -309.8 -330.  -384.1 -360.2 -400.8
 -416.6 -381.2 -759.3 -775.5 -737.  -735.3 -642.4 -811.6 -809.9 -799.2
 -776.4 -398.5 -688.4 -741.6 -775.8 -726.4 -512.6 -442.2 -531.3 -377.3
 -414.  -383.6 -429.7 -364.8 -349.  -719.5 -645.4 -712.1 -725.9 -665.4
 -879.4 -804.8 -780.6 -758.4 -826.5 -865.7 -663.7 -553.7 -589.6 -521.
 -542.2 -510.3 -341.  -913.4 -885.7 -832.8 -797.8 -489.8 -391.8 -423.2
 -406.8 -361.8 -400.5 -419.9 -382.  -728.9 -724.6 -319.9 -370.1 -450.9
 -498.6 -589.8 -453.  -480.4 -631.8 -552.9 -502.  -511.2 -602.2 -325.5
 -424.2 -302.7 -445.9 -690.2 -655.4 -652.1 -742.2 -851.8 -802.4 -843.6
 -762.4 -373.3 -333.1 -395.  -272.8 -338.1 -359.5 -360.1 -385.7 -425.3
 -405.7 -335.5 -586.3 -621.3 -635.4 -580.6 -832.6 -800.5 -808.6 -843.4
 -709.4 -710.9 -676.  -691.5 -531.8 -569.2 -556.3 -367.7 -463.3 -512.8
 -456.4 -468.4 -384.1 -436.5 -530.3 -323.4 -578.2 -468.3 -524.4 -518.
 -451.7 -299.5 -421.8 -378.5 -443.4 -385.5 -371.9 -755.5 -747.  -716.9
 -752.5 -574.6 -596.1 -537.9 -549.5 -352.  -378.3 -323.4 -299.5 -660.2
 -657.8 -655.5 -573.6 -300.  -331.  -365.5 -450.5 -559.  -700.  -591.
 -513.  -687.5 -769.5 -725.5 -696.  -663.  -343.5 -361.  -300.  -386.5
 -320.5 -686.  -740.  -740.  -779.  -631.5 -612.  -657.  -637.5 -738.
 -732.5 -754.5 -776.5 -320.  -479.5 -389.5 -481.  -348.2 -340.  -333.5
 -368.5 -492.5 -443.5 -467.5 -329.9 -290.9 -338.2 -339.6 -293.9 -598.1
 -657.6 -624.3 -635.3 -563.  -530.3 -474.9 -615.5 -577.6 -602.9 -550.7
 -650.4 -603.9 -593.3 -588.8 -553.4 -728.5 -367.  -437.  -384.3 -377.6
 -434.4 -473.3 -504.7 -408.6 -494.2 -548.5 -479.9 -599.3 -331.  -363.5
 -570.  -535.7 -511.7 -587.8 -596.4 -686.  -662.9 -705.5 -680.3 -777.6
 -724.3 -639.3 -694.5 -317.6 -328.4 -307.3 -466.6 -642.1 -694.5 -575.3
 -615.1 -370.8 -360.5 -339.7 -354.2 -460.6 -432.7 -455.7 -432.7 -349.3
 -325.5 -356.9 -334.1 -462.6 -503.6 -531.3 -612.1 -364.3 -467.4 -439.6
 -403.8 -383.3 -342.9 -479.6 -348.7 -348.7 -399.6 -520.1 -586.5 -291.9
 -274.1 -361.7 -308.2 -483.3 -410.3 -421.  -505.4 -389.6 -428.8 -458.4
 -452.2 -466.5 -405.  -282.9 -304.  -286.9 -347.2 -325.5 -341.3 -328.9
 -376.8 -342.1 -413.6 -368.  -377.5 -370.8 -400.1 -440.1 -458.4 -577.9
 -563.3 -496.6 -501.8 -605.6 -665.9 -547.8 -632.9 -449.  -457.  -401.
 -441.5 -434.  -475.  -503.  -532.  -323.  -334.  -329.  -355.5 -354.
 -352.  -367.5 -380.  -321.5 -327.5 -327.5 -509.  -522.5 -445.  -489.
 -453.  -396.  -518.  -488.  -356.  -385.  -457.5 -472. ]
(398,)

## 8. Sorting
Use NumPy to sort the cars by model_year in descending order and display the first five car names.

In [543]:
model_year_data = np.array([data[i][6] for i in range(1,len(data))])
model_year_car_name_data = np.array([model_year_data, car_name_data])
model_year_car_name_data

array([['70', '70', '70', '70', '70', '70', '70', '70', '70', '70', '70',
        '70', '70', '70', '70', '70', '70', '70', '70', '70', '70', '70',
        '70', '70', '70', '70', '70', '70', '70', '71', '71', '71', '71',
        '71', '71', '71', '71', '71', '71', '71', '71', '71', '71', '71',
        '71', '71', '71', '71', '71', '71', '71', '71', '71', '71', '71',
        '71', '71', '72', '72', '72', '72', '72', '72', '72', '72', '72',
        '72', '72', '72', '72', '72', '72', '72', '72', '72', '72', '72',
        '72', '72', '72', '72', '72', '72', '72', '72', '73', '73', '73',
        '73', '73', '73', '73', '73', '73', '73', '73', '73', '73', '73',
        '73', '73', '73', '73', '73', '73', '73', '73', '73', '73', '73',
        '73', '73', '73', '73', '73', '73', '73', '73', '73', '73', '73',
        '73', '73', '73', '73', '74', '74', '74', '74', '74', '74', '74',
        '74', '74', '74', '74', '74', '74', '74', '74', '74', '74', '74',
        '74', '74', '74', '74', '74', '74', '74', '74', '74', '75', '75',
        '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75',
        '75', '75', '75', '75', '75', '75', '75', '75', '75', '75', '75',
        '75', '75', '75', '75', '75', '75', '76', '76', '76', '76', '76',
        '76', '76', '76', '76', '76', '76', '76', '76', '76', '76', '76',
        '76', '76', '76', '76', '76', '76', '76', '76', '76', '76', '76',
        '76', '76', '76', '76', '76', '76', '76', '77', '77', '77', '77',
        '77', '77', '77', '77', '77', '77', '77', '77', '77', '77', '77',
        '77', '77', '77', '77', '77', '77', '77', '77', '77', '77', '77',
        '77', '77', '78', '78', '78', '78', '78', '78', '78', '78', '78',
        '78', '78', '78', '78', '78', '78', '78', '78', '78', '78', '78',
        '78', '78', '78', '78', '78', '78', '78', '78', '78', '78', '78',
        '78', '78', '78', '78', '78', '79', '79', '79', '79', '79', '79',
        '79', '79', '79', '79', '79', '79', '79', '79', '79', '79', '79',
        '79', '79', '79', '79', '79', '79', '79', '79', '79', '79', '79',
        '79', '80', '80', '80', '80', '80', '80', '80', '80', '80', '80',
        '80', '80', '80', '80', '80', '80', '80', '80', '80', '80', '80',
        '80', '80', '80', '80', '80', '80', '80', '80', '81', '81', '81',
        '81', '81', '81', '81', '81', '81', '81', '81', '81', '81', '81',
        '81', '81', '81', '81', '81', '81', '81', '81', '81', '81', '81',
        '81', '81', '81', '81', '82', '82', '82', '82', '82', '82', '82',
        '82', '82', '82', '82', '82', '82', '82', '82', '82', '82', '82',
        '82', '82', '82', '82', '82', '82', '82', '82', '82', '82', '82',
        '82', '82'],
       ['chevrolet chevelle malibu', 'buick skylark 320',
        'plymouth satellite', 'amc rebel sst', 'ford torino',
        'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
        'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se',
        "plymouth 'cuda 340", 'chevrolet monte carlo',
        'buick estate wagon (sw)', 'toyota corona mark ii',
        'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
        'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
        'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
        'dodge d200', 'hi 1200d', 'datsun pl510', 'chevrolet vega 2300',
        'toyota corona', 'ford pinto', 'amc gremlin',
        'plymouth satellite custom', 'chevrolet chevelle malibu',
        'ford torino 500', 'amc matador', 'chevrolet impala',
        'pontiac catalina brougham', 'ford galaxie 500',
        'plymouth fury iii', 'dodge monaco (sw)',
        'ford country squire (sw)', 'pontiac safari (sw)',
        'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
        'pontiac firebird', 'ford mustang', 'mercury capri 2000',
        'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
        'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
        'toyota corona hardtop', 'dodge colt hardtop',
        'volkswagen type 3', 'chevrolet vega', 'ford pinto runabout',
        'chevrolet impala', 'pontiac catalina', 'plymouth fury iii',
        'ford galaxie 500', 'amc ambassador sst', 'mercury marquis',
        'buick lesabre custom', 'oldsmobile delta 88 royale',
        'chrysler newport royal', 'mazda rx2 coupe', 'amc matador (sw)',
        'chevrolet chevelle concours (sw)', 'ford gran torino (sw)',
        'plymouth satellite custom (sw)', 'volvo 145e (sw)',
        'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
        'ford pinto (sw)', 'datsun 510 (sw)',
        'toyouta corona mark ii (sw)', 'dodge colt (sw)',
        'toyota corolla 1600 (sw)', 'buick century 350', 'amc matador',
        'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
        'mercury marquis brougham', 'chevrolet caprice classic',
        'ford ltd', 'plymouth fury gran sedan',
        'chrysler new yorker brougham', 'buick electra 225 custom',
        'amc ambassador brougham', 'plymouth valiant',
        'chevrolet nova custom', 'amc hornet', 'ford maverick',
        'plymouth duster', 'volkswagen super beetle', 'chevrolet impala',
        'ford country', 'plymouth custom suburb',
        'oldsmobile vista cruiser', 'amc gremlin', 'toyota carina',
        'chevrolet vega', 'datsun 610', 'maxda rx3', 'ford pinto',
        'mercury capri v6', 'fiat 124 sport coupe',
        'chevrolet monte carlo s', 'pontiac grand prix', 'fiat 128',
        'opel manta', 'audi 100ls', 'volvo 144ea', 'dodge dart custom',
        'saab 99le', 'toyota mark ii', 'oldsmobile omega',
        'plymouth duster', 'ford maverick', 'amc hornet',
        'chevrolet nova', 'datsun b210', 'ford pinto',
        'toyota corolla 1200', 'chevrolet vega',
        'chevrolet chevelle malibu classic', 'amc matador',
        'plymouth satellite sebring', 'ford gran torino',
        'buick century luxus (sw)', 'dodge coronet custom (sw)',
        'ford gran torino (sw)', 'amc matador (sw)', 'audi fox',
        'volkswagen dasher', 'opel manta', 'toyota corona', 'datsun 710',
        'dodge colt', 'fiat 128', 'fiat 124 tc', 'honda civic', 'subaru',
        'fiat x1.9', 'plymouth valiant custom', 'chevrolet nova',
        'mercury monarch', 'ford maverick', 'pontiac catalina',
        'chevrolet bel air', 'plymouth grand fury', 'ford ltd',
        'buick century', 'chevroelt chevelle malibu', 'amc matador',
        'plymouth fury', 'buick skyhawk', 'chevrolet monza 2+2',
        'ford mustang ii', 'toyota corolla', 'ford pinto', 'amc gremlin',
        'pontiac astro', 'toyota corona', 'volkswagen dasher',
        'datsun 710', 'ford pinto', 'volkswagen rabbit', 'amc pacer',
        'audi 100ls', 'peugeot 504', 'volvo 244dl', 'saab 99le',
        'honda civic cvcc', 'fiat 131', 'opel 1900', 'capri ii',
        'dodge colt', 'renault 12tl',
        'chevrolet chevelle malibu classic', 'dodge coronet brougham',
        'amc matador', 'ford gran torino', 'plymouth valiant',
        'chevrolet nova', 'ford maverick', 'amc hornet',
        'chevrolet chevette', 'chevrolet woody', 'vw rabbit',
        'honda civic', 'dodge aspen se', 'ford granada ghia',
        'pontiac ventura sj', 'amc pacer d/l', 'volkswagen rabbit',
        'datsun b-210', 'toyota corolla', 'ford pinto', 'volvo 245',
        'plymouth volare premier v8', 'peugeot 504', 'toyota mark ii',
        'mercedes-benz 280s', 'cadillac seville', 'chevy c10',
        'ford f108', 'dodge d100', 'honda accord cvcc',
        'buick opel isuzu deluxe', 'renault 5 gtl', 'plymouth arrow gs',
        'datsun f-10 hatchback', 'chevrolet caprice classic',
        'oldsmobile cutlass supreme', 'dodge monaco brougham',
        'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
        'plymouth volare custom', 'ford granada',
        'pontiac grand prix lj', 'chevrolet monte carlo landau',
        'chrysler cordoba', 'ford thunderbird',
        'volkswagen rabbit custom', 'pontiac sunbird coupe',
        'toyota corolla liftback', 'ford mustang ii 2+2',
        'chevrolet chevette', 'dodge colt m/m', 'subaru dl',
        'volkswagen dasher', 'datsun 810', 'bmw 320i', 'mazda rx-4',
        'volkswagen rabbit custom diesel', 'ford fiesta',
        'mazda glc deluxe', 'datsun b210 gx', 'honda civic cvcc',
        'oldsmobile cutlass salon brougham', 'dodge diplomat',
        'mercury monarch ghia', 'pontiac phoenix lj', 'chevrolet malibu',
        'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
        'amc concord', 'buick century special', 'mercury zephyr',
        'dodge aspen', 'amc concord d/l', 'chevrolet monte carlo landau',
        'buick regal sport coupe (turbo)', 'ford futura',
        'dodge magnum xe', 'chevrolet chevette', 'toyota corona',
        'datsun 510', 'dodge omni', 'toyota celica gt liftback',
        'plymouth sapporo', 'oldsmobile starfire sx', 'datsun 200-sx',
        'audi 5000', 'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
        'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
        'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
        'dodge aspen 6', 'chevrolet caprice classic', 'ford ltd landau',
        'mercury grand marquis', 'dodge st. regis',
        'buick estate wagon (sw)', 'ford country squire (sw)',
        'chevrolet malibu classic (sw)',
        'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
        'maxda glc deluxe', 'dodge colt hatchback custom',
        'amc spirit dl', 'mercedes benz 300d', 'cadillac eldorado',
        'peugeot 504', 'oldsmobile cutlass salon brougham',
        'plymouth horizon', 'plymouth horizon tc3', 'datsun 210',
        'fiat strada custom', 'buick skylark limited',
        'chevrolet citation', 'oldsmobile omega brougham',
        'pontiac phoenix', 'vw rabbit', 'toyota corolla tercel',
        'chevrolet chevette', 'datsun 310', 'chevrolet citation',
        'ford fairmont', 'amc concord', 'dodge aspen', 'audi 4000',
        'toyota corona liftback', 'mazda 626', 'datsun 510 hatchback',
        'toyota corolla', 'mazda glc', 'dodge colt', 'datsun 210',
        'vw rabbit c (diesel)', 'vw dasher (diesel)',
        'audi 5000s (diesel)', 'mercedes-benz 240d',
        'honda civic 1500 gl', 'renault lecar deluxe', 'subaru dl',
        'vokswagen rabbit', 'datsun 280-zx', 'mazda rx-7 gs',
        'triumph tr7 coupe', 'ford mustang cobra', 'honda accord',
        'plymouth reliant', 'buick skylark', 'dodge aries wagon (sw)',
        'chevrolet citation', 'plymouth reliant', 'toyota starlet',
        'plymouth champ', 'honda civic 1300', 'subaru', 'datsun 210 mpg',
        'toyota tercel', 'mazda glc 4', 'plymouth horizon 4',
        'ford escort 4w', 'ford escort 2h', 'volkswagen jetta',
        'renault 18i', 'honda prelude', 'toyota corolla', 'datsun 200sx',
        'mazda 626', 'peugeot 505s turbo diesel', 'volvo diesel',
        'toyota cressida', 'datsun 810 maxima', 'buick century',
        'oldsmobile cutlass ls', 'ford granada gl',
        'chrysler lebaron salon', 'chevrolet cavalier',
        'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
        'pontiac j2000 se hatchback', 'dodge aries se',
        'pontiac phoenix', 'ford fairmont futura', 'amc concord dl',
        'volkswagen rabbit l', 'mazda glc custom l', 'mazda glc custom',
        'plymouth horizon miser', 'mercury lynx l', 'nissan stanza xe',
        'honda accord', 'toyota corolla', 'honda civic',
        'honda civic (auto)', 'datsun 310 gx', 'buick century limited',
        'oldsmobile cutlass ciera (diesel)',
        'chrysler lebaron medallion', 'ford granada l',
        'toyota celica gt', 'dodge charger 2.2', 'chevrolet camaro',
        'ford mustang gl', 'vw pickup', 'dodge rampage', 'ford ranger',
        'chevy s-10']], dtype='<U36')

In [544]:
desc_sorted_model_year_car_name_data = np.sort(np.column_stack(([model_year_data, car_name_data])))[::-1]
desc_sorted_model_year_car_name_data

array([['82', 'chevy s-10'],
       ['82', 'ford ranger'],
       ['82', 'dodge rampage'],
       ['82', 'vw pickup'],
       ['82', 'ford mustang gl'],
       ['82', 'chevrolet camaro'],
       ['82', 'dodge charger 2.2'],
       ['82', 'toyota celica gt'],
       ['82', 'ford granada l'],
       ['82', 'chrysler lebaron medallion'],
       ['82', 'oldsmobile cutlass ciera (diesel)'],
       ['82', 'buick century limited'],
       ['82', 'datsun 310 gx'],
       ['82', 'honda civic (auto)'],
       ['82', 'honda civic'],
       ['82', 'toyota corolla'],
       ['82', 'honda accord'],
       ['82', 'nissan stanza xe'],
       ['82', 'mercury lynx l'],
       ['82', 'plymouth horizon miser'],
       ['82', 'mazda glc custom'],
       ['82', 'mazda glc custom l'],
       ['82', 'volkswagen rabbit l'],
       ['82', 'amc concord dl'],
       ['82', 'ford fairmont futura'],
       ['82', 'pontiac phoenix'],
       ['82', 'dodge aries se'],
       ['82', 'pontiac j2000 se hatchback'],
       ['82', 'chevrolet cavalier 2-door'],
       ['82', 'chevrolet cavalier wagon'],
       ['82', 'chevrolet cavalier'],
       ['81', 'chrysler lebaron salon'],
       ['81', 'ford granada gl'],
       ['81', 'oldsmobile cutlass ls'],
       ['81', 'buick century'],
       ['81', 'datsun 810 maxima'],
       ['81', 'toyota cressida'],
       ['81', 'volvo diesel'],
       ['81', 'peugeot 505s turbo diesel'],
       ['81', 'mazda 626'],
       ['81', 'datsun 200sx'],
       ['81', 'toyota corolla'],
       ['81', 'honda prelude'],
       ['81', 'renault 18i'],
       ['81', 'volkswagen jetta'],
       ['81', 'ford escort 2h'],
       ['81', 'ford escort 4w'],
       ['81', 'plymouth horizon 4'],
       ['81', 'mazda glc 4'],
       ['81', 'toyota tercel'],
       ['81', 'datsun 210 mpg'],
       ['81', 'subaru'],
       ['81', 'honda civic 1300'],
       ['81', 'plymouth champ'],
       ['81', 'toyota starlet'],
       ['81', 'plymouth reliant'],
       ['81', 'chevrolet citation'],
       ['81', 'dodge aries wagon (sw)'],
       ['81', 'buick skylark'],
       ['81', 'plymouth reliant'],
       ['80', 'honda accord'],
       ['80', 'ford mustang cobra'],
       ['80', 'triumph tr7 coupe'],
       ['80', 'mazda rx-7 gs'],
       ['80', 'datsun 280-zx'],
       ['80', 'vokswagen rabbit'],
       ['80', 'subaru dl'],
       ['80', 'renault lecar deluxe'],
       ['80', 'honda civic 1500 gl'],
       ['80', 'mercedes-benz 240d'],
       ['80', 'audi 5000s (diesel)'],
       ['80', 'vw dasher (diesel)'],
       ['80', 'vw rabbit c (diesel)'],
       ['80', 'datsun 210'],
       ['80', 'dodge colt'],
       ['80', 'mazda glc'],
       ['80', 'toyota corolla'],
       ['80', 'datsun 510 hatchback'],
       ['80', 'mazda 626'],
       ['80', 'toyota corona liftback'],
       ['80', 'audi 4000'],
       ['80', 'dodge aspen'],
       ['80', 'amc concord'],
       ['80', 'ford fairmont'],
       ['80', 'chevrolet citation'],
       ['80', 'datsun 310'],
       ['80', 'chevrolet chevette'],
       ['80', 'toyota corolla tercel'],
       ['80', 'vw rabbit'],
       ['79', 'pontiac phoenix'],
       ['79', 'oldsmobile omega brougham'],
       ['79', 'chevrolet citation'],
       ['79', 'buick skylark limited'],
       ['79', 'fiat strada custom'],
       ['79', 'datsun 210'],
       ['79', 'plymouth horizon tc3'],
       ['79', 'plymouth horizon'],
       ['79', 'oldsmobile cutlass salon brougham'],
       ['79', 'peugeot 504'],
       ['79', 'cadillac eldorado'],
       ['79', 'mercedes benz 300d'],
       ['79', 'amc spirit dl'],
       ['79', 'dodge colt hatchback custom'],
       ['79', 'maxda glc deluxe'],
       ['79', 'vw rabbit custom'],
       ['79', 'chrysler lebaron town @ country (sw)'],
       ['79', 'chevrolet malibu classic (sw)'],
       ['79', 'ford country squire (sw)'],
       ['79', 'buick estate wagon (sw)'],
       ['79', 'dodge st. regis'],
       ['79', 'mercury grand marquis'],
       ['79', 'ford ltd landau'],
       ['79', 'chevrolet caprice classic'],
       ['79', 'dodge aspen 6'],
       ['79', 'amc concord dl 6'],
       ['79', 'ford fairmont 4'],
       ['79', 'mercury zephyr 6'],
       ['79', 'pontiac lemans v6'],
       ['78', 'honda accord lx'],
       ['78', 'volkswagen scirocco'],
       ['78', 'peugeot 604sl'],
       ['78', 'saab 99gle'],
       ['78', 'volvo 264gl'],
       ['78', 'audi 5000'],
       ['78', 'datsun 200-sx'],
       ['78', 'oldsmobile starfire sx'],
       ['78', 'plymouth sapporo'],
       ['78', 'toyota celica gt liftback'],
       ['78', 'dodge omni'],
       ['78', 'datsun 510'],
       ['78', 'toyota corona'],
       ['78', 'chevrolet chevette'],
       ['78', 'dodge magnum xe'],
       ['78', 'ford futura'],
       ['78', 'buick regal sport coupe (turbo)'],
       ['78', 'chevrolet monte carlo landau'],
       ['78', 'amc concord d/l'],
       ['78', 'dodge aspen'],
       ['78', 'mercury zephyr'],
       ['78', 'buick century special'],
       ['78', 'amc concord'],
       ['78', 'plymouth volare'],
       ['78', 'ford fairmont (man)'],
       ['78', 'ford fairmont (auto)'],
       ['78', 'chevrolet malibu'],
       ['78', 'pontiac phoenix lj'],
       ['78', 'mercury monarch ghia'],
       ['78', 'dodge diplomat'],
       ['78', 'oldsmobile cutlass salon brougham'],
       ['78', 'honda civic cvcc'],
       ['78', 'datsun b210 gx'],
       ['78', 'mazda glc deluxe'],
       ['78', 'ford fiesta'],
       ['78', 'volkswagen rabbit custom diesel'],
       ['77', 'mazda rx-4'],
       ['77', 'bmw 320i'],
       ['77', 'datsun 810'],
       ['77', 'volkswagen dasher'],
       ['77', 'subaru dl'],
       ['77', 'dodge colt m/m'],
       ['77', 'chevrolet chevette'],
       ['77', 'ford mustang ii 2+2'],
       ['77', 'toyota corolla liftback'],
       ['77', 'pontiac sunbird coupe'],
       ['77', 'volkswagen rabbit custom'],
       ['77', 'ford thunderbird'],
       ['77', 'chrysler cordoba'],
       ['77', 'chevrolet monte carlo landau'],
       ['77', 'pontiac grand prix lj'],
       ['77', 'ford granada'],
       ['77', 'plymouth volare custom'],
       ['77', 'buick skylark'],
       ['77', 'chevrolet concours'],
       ['77', 'mercury cougar brougham'],
       ['77', 'dodge monaco brougham'],
       ['77', 'oldsmobile cutlass supreme'],
       ['77', 'chevrolet caprice classic'],
       ['77', 'datsun f-10 hatchback'],
       ['77', 'plymouth arrow gs'],
       ['77', 'renault 5 gtl'],
       ['77', 'buick opel isuzu deluxe'],
       ['77', 'honda accord cvcc'],
       ['76', 'dodge d100'],
       ['76', 'ford f108'],
       ['76', 'chevy c10'],
       ['76', 'cadillac seville'],
       ['76', 'mercedes-benz 280s'],
       ['76', 'toyota mark ii'],
       ['76', 'peugeot 504'],
       ['76', 'plymouth volare premier v8'],
       ['76', 'volvo 245'],
       ['76', 'ford pinto'],
       ['76', 'toyota corolla'],
       ['76', 'datsun b-210'],
       ['76', 'volkswagen rabbit'],
       ['76', 'amc pacer d/l'],
       ['76', 'pontiac ventura sj'],
       ['76', 'ford granada ghia'],
       ['76', 'dodge aspen se'],
       ['76', 'honda civic'],
       ['76', 'vw rabbit'],
       ['76', 'chevrolet woody'],
       ['76', 'chevrolet chevette'],
       ['76', 'amc hornet'],
       ['76', 'ford maverick'],
       ['76', 'chevrolet nova'],
       ['76', 'plymouth valiant'],
       ['76', 'ford gran torino'],
       ['76', 'amc matador'],
       ['76', 'dodge coronet brougham'],
       ['76', 'chevrolet chevelle malibu classic'],
       ['76', 'renault 12tl'],
       ['76', 'dodge colt'],
       ['76', 'capri ii'],
       ['76', 'opel 1900'],
       ['76', 'fiat 131'],
       ['75', 'honda civic cvcc'],
       ['75', 'saab 99le'],
       ['75', 'volvo 244dl'],
       ['75', 'peugeot 504'],
       ['75', 'audi 100ls'],
       ['75', 'amc pacer'],
       ['75', 'volkswagen rabbit'],
       ['75', 'ford pinto'],
       ['75', 'datsun 710'],
       ['75', 'volkswagen dasher'],
       ['75', 'toyota corona'],
       ['75', 'pontiac astro'],
       ['75', 'amc gremlin'],
       ['75', 'ford pinto'],
       ['75', 'toyota corolla'],
       ['75', 'ford mustang ii'],
       ['75', 'chevrolet monza 2+2'],
       ['75', 'buick skyhawk'],
       ['75', 'plymouth fury'],
       ['75', 'amc matador'],
       ['75', 'chevroelt chevelle malibu'],
       ['75', 'buick century'],
       ['75', 'ford ltd'],
       ['75', 'plymouth grand fury'],
       ['75', 'chevrolet bel air'],
       ['75', 'pontiac catalina'],
       ['75', 'ford maverick'],
       ['75', 'mercury monarch'],
       ['75', 'chevrolet nova'],
       ['75', 'plymouth valiant custom'],
       ['74', 'fiat x1.9'],
       ['74', 'subaru'],
       ['74', 'honda civic'],
       ['74', 'fiat 124 tc'],
       ['74', 'fiat 128'],
       ['74', 'dodge colt'],
       ['74', 'datsun 710'],
       ['74', 'toyota corona'],
       ['74', 'opel manta'],
       ['74', 'volkswagen dasher'],
       ['74', 'audi fox'],
       ['74', 'amc matador (sw)'],
       ['74', 'ford gran torino (sw)'],
       ['74', 'dodge coronet custom (sw)'],
       ['74', 'buick century luxus (sw)'],
       ['74', 'ford gran torino'],
       ['74', 'plymouth satellite sebring'],
       ['74', 'amc matador'],
       ['74', 'chevrolet chevelle malibu classic'],
       ['74', 'chevrolet vega'],
       ['74', 'toyota corolla 1200'],
       ['74', 'ford pinto'],
       ['74', 'datsun b210'],
       ['74', 'chevrolet nova'],
       ['74', 'amc hornet'],
       ['74', 'ford maverick'],
       ['74', 'plymouth duster'],
       ['73', 'oldsmobile omega'],
       ['73', 'toyota mark ii'],
       ['73', 'saab 99le'],
       ['73', 'dodge dart custom'],
       ['73', 'volvo 144ea'],
       ['73', 'audi 100ls'],
       ['73', 'opel manta'],
       ['73', 'fiat 128'],
       ['73', 'pontiac grand prix'],
       ['73', 'chevrolet monte carlo s'],
       ['73', 'fiat 124 sport coupe'],
       ['73', 'mercury capri v6'],
       ['73', 'ford pinto'],
       ['73', 'maxda rx3'],
       ['73', 'datsun 610'],
       ['73', 'chevrolet vega'],
       ['73', 'toyota carina'],
       ['73', 'amc gremlin'],
       ['73', 'oldsmobile vista cruiser'],
       ['73', 'plymouth custom suburb'],
       ['73', 'ford country'],
       ['73', 'chevrolet impala'],
       ['73', 'volkswagen super beetle'],
       ['73', 'plymouth duster'],
       ['73', 'ford maverick'],
       ['73', 'amc hornet'],
       ['73', 'chevrolet nova custom'],
       ['73', 'plymouth valiant'],
       ['73', 'amc ambassador brougham'],
       ['73', 'buick electra 225 custom'],
       ['73', 'chrysler new yorker brougham'],
       ['73', 'plymouth fury gran sedan'],
       ['73', 'ford ltd'],
       ['73', 'chevrolet caprice classic'],
       ['73', 'mercury marquis brougham'],
       ['73', 'dodge coronet custom'],
       ['73', 'ford gran torino'],
       ['73', 'chevrolet malibu'],
       ['73', 'amc matador'],
       ['73', 'buick century 350'],
       ['72', 'toyota corolla 1600 (sw)'],
       ['72', 'dodge colt (sw)'],
       ['72', 'toyouta corona mark ii (sw)'],
       ['72', 'datsun 510 (sw)'],
       ['72', 'ford pinto (sw)'],
       ['72', 'renault 12 (sw)'],
       ['72', 'peugeot 504 (sw)'],
       ['72', 'volkswagen 411 (sw)'],
       ['72', 'volvo 145e (sw)'],
       ['72', 'plymouth satellite custom (sw)'],
       ['72', 'ford gran torino (sw)'],
       ['72', 'chevrolet chevelle concours (sw)'],
       ['72', 'amc matador (sw)'],
       ['72', 'mazda rx2 coupe'],
       ['72', 'chrysler newport royal'],
       ['72', 'oldsmobile delta 88 royale'],
       ['72', 'buick lesabre custom'],
       ['72', 'mercury marquis'],
       ['72', 'amc ambassador sst'],
       ['72', 'ford galaxie 500'],
       ['72', 'plymouth fury iii'],
       ['72', 'pontiac catalina'],
       ['72', 'chevrolet impala'],
       ['72', 'ford pinto runabout'],
       ['72', 'chevrolet vega'],
       ['72', 'volkswagen type 3'],
       ['72', 'dodge colt hardtop'],
       ['72', 'toyota corona hardtop'],
       ['71', 'plymouth cricket'],
       ['71', 'volkswagen model 111'],
       ['71', 'datsun 1200'],
       ['71', 'toyota corolla 1200'],
       ['71', 'fiat 124b'],
       ['71', 'peugeot 304'],
       ['71', 'opel 1900'],
       ['71', 'mercury capri 2000'],
       ['71', 'ford mustang'],
       ['71', 'pontiac firebird'],
       ['71', 'chevrolet vega (sw)'],
       ['71', 'amc hornet sportabout (sw)'],
       ['71', 'pontiac safari (sw)'],
       ['71', 'ford country squire (sw)'],
       ['71', 'dodge monaco (sw)'],
       ['71', 'plymouth fury iii'],
       ['71', 'ford galaxie 500'],
       ['71', 'pontiac catalina brougham'],
       ['71', 'chevrolet impala'],
       ['71', 'amc matador'],
       ['71', 'ford torino 500'],
       ['71', 'chevrolet chevelle malibu'],
       ['71', 'plymouth satellite custom'],
       ['71', 'amc gremlin'],
       ['71', 'ford pinto'],
       ['71', 'toyota corona'],
       ['71', 'chevrolet vega 2300'],
       ['71', 'datsun pl510'],
       ['70', 'hi 1200d'],
       ['70', 'dodge d200'],
       ['70', 'chevy c20'],
       ['70', 'ford f250'],
       ['70', 'amc gremlin'],
       ['70', 'bmw 2002'],
       ['70', 'saab 99e'],
       ['70', 'audi 100 ls'],
       ['70', 'peugeot 504'],
       ['70', 'volkswagen 1131 deluxe sedan'],
       ['70', 'datsun pl510'],
       ['70', 'ford maverick'],
       ['70', 'amc hornet'],
       ['70', 'plymouth duster'],
       ['70', 'toyota corona mark ii'],
       ['70', 'buick estate wagon (sw)'],
       ['70', 'chevrolet monte carlo'],
       ['70', "plymouth 'cuda 340"],
       ['70', 'dodge challenger se'],
       ['70', 'amc ambassador dpl'],
       ['70', 'pontiac catalina'],
       ['70', 'plymouth fury iii'],
       ['70', 'chevrolet impala'],
       ['70', 'ford galaxie 500'],
       ['70', 'ford torino'],
       ['70', 'amc rebel sst'],
       ['70', 'plymouth satellite'],
       ['70', 'buick skylark 320'],
       ['70', 'chevrolet chevelle malibu']], dtype='<U36')

In [545]:
for i in range(5):
    print(desc_sorted_model_year_car_name_data[i][1])

chevy s-10
ford ranger
dodge rampage
vw pickup
ford mustang gl

## 9. Correlation
Compute the Pearson correlation coefficient between mpg and weight using NumPy.

In [546]:
print("Pearson Correlation Coefficient = \n", np.corrcoef(mpg_data, weight_data))

Pearson Correlation Coefficient =
 [[ 1.         -0.83174093]
 [-0.83174093  1.        ]]

## 10. Conditional Aggregates
Calculate the mean mpg for cars grouped by the number of cylinders using NumPy techniques.

In [547]:
np.column_stack(([mpg_data, cylinder_data]))

array([[18. ,  8. ],
       [15. ,  8. ],
       [18. ,  8. ],
       [16. ,  8. ],
       [17. ,  8. ],
       [15. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [15. ,  8. ],
       [15. ,  8. ],
       [14. ,  8. ],
       [15. ,  8. ],
       [14. ,  8. ],
       [24. ,  4. ],
       [22. ,  6. ],
       [18. ,  6. ],
       [21. ,  6. ],
       [27. ,  4. ],
       [26. ,  4. ],
       [25. ,  4. ],
       [24. ,  4. ],
       [25. ,  4. ],
       [26. ,  4. ],
       [21. ,  6. ],
       [10. ,  8. ],
       [10. ,  8. ],
       [11. ,  8. ],
       [ 9. ,  8. ],
       [27. ,  4. ],
       [28. ,  4. ],
       [25. ,  4. ],
       [25. ,  4. ],
       [19. ,  6. ],
       [16. ,  6. ],
       [17. ,  6. ],
       [19. ,  6. ],
       [18. ,  6. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [12. ,  8. ],
       [13. ,  8. ],
       [13. ,  8. ],
       [18. ,  6. ],
       [22. ,  4. ],
       [19. ,  6. ],
       [18. ,  6. ],
       [23. ,  4. ],
       [28. ,  4. ],
       [30. ,  4. ],
       [30. ,  4. ],
       [31. ,  4. ],
       [35. ,  4. ],
       [27. ,  4. ],
       [26. ,  4. ],
       [24. ,  4. ],
       [25. ,  4. ],
       [23. ,  4. ],
       [20. ,  4. ],
       [21. ,  4. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [15. ,  8. ],
       [14. ,  8. ],
       [17. ,  8. ],
       [11. ,  8. ],
       [13. ,  8. ],
       [12. ,  8. ],
       [13. ,  8. ],
       [19. ,  3. ],
       [15. ,  8. ],
       [13. ,  8. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [18. ,  4. ],
       [22. ,  4. ],
       [21. ,  4. ],
       [26. ,  4. ],
       [22. ,  4. ],
       [28. ,  4. ],
       [23. ,  4. ],
       [28. ,  4. ],
       [27. ,  4. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [15. ,  8. ],
       [12. ,  8. ],
       [13. ,  8. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [13. ,  8. ],
       [12. ,  8. ],
       [13. ,  8. ],
       [18. ,  6. ],
       [16. ,  6. ],
       [18. ,  6. ],
       [18. ,  6. ],
       [23. ,  6. ],
       [26. ,  4. ],
       [11. ,  8. ],
       [12. ,  8. ],
       [13. ,  8. ],
       [12. ,  8. ],
       [18. ,  6. ],
       [20. ,  4. ],
       [21. ,  4. ],
       [22. ,  4. ],
       [18. ,  3. ],
       [19. ,  4. ],
       [21. ,  6. ],
       [26. ,  4. ],
       [15. ,  8. ],
       [16. ,  8. ],
       [29. ,  4. ],
       [24. ,  4. ],
       [20. ,  4. ],
       [19. ,  4. ],
       [15. ,  8. ],
       [24. ,  4. ],
       [20. ,  6. ],
       [11. ,  8. ],
       [20. ,  6. ],
       [21. ,  6. ],
       [19. ,  6. ],
       [15. ,  6. ],
       [31. ,  4. ],
       [26. ,  4. ],
       [32. ,  4. ],
       [25. ,  4. ],
       [16. ,  6. ],
       [16. ,  6. ],
       [18. ,  6. ],
       [16. ,  8. ],
       [13. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [29. ,  4. ],
       [26. ,  4. ],
       [26. ,  4. ],
       [31. ,  4. ],
       [32. ,  4. ],
       [28. ,  4. ],
       [24. ,  4. ],
       [26. ,  4. ],
       [24. ,  4. ],
       [26. ,  4. ],
       [31. ,  4. ],
       [19. ,  6. ],
       [18. ,  6. ],
       [15. ,  6. ],
       [15. ,  6. ],
       [16. ,  8. ],
       [15. ,  8. ],
       [16. ,  8. ],
       [14. ,  8. ],
       [17. ,  6. ],
       [16. ,  6. ],
       [15. ,  6. ],
       [18. ,  6. ],
       [21. ,  6. ],
       [20. ,  8. ],
       [13. ,  8. ],
       [29. ,  4. ],
       [23. ,  4. ],
       [20. ,  6. ],
       [23. ,  4. ],
       [24. ,  4. ],
       [25. ,  4. ],
       [24. ,  4. ],
       [18. ,  6. ],
       [29. ,  4. ],
       [19. ,  6. ],
       [23. ,  4. ],
       [23. ,  4. ],
       [22. ,  4. ],
       [25. ,  4. ],
       [33. ,  4. ],
       [28. ,  4. ],
       [25. ,  4. ],
       [25. ,  4. ],
       [26. ,  4. ],
       [27. ,  4. ],
       [17.5,  8. ],
       [16. ,  8. ],
       [15.5,  8. ],
       [14.5,  8. ],
       [22. ,  6. ],
       [22. ,  6. ],
       [24. ,  6. ],
       [22.5,  6. ],
       [29. ,  4. ],
       [24.5,  4. ],
       [29. ,  4. ],
       [33. ,  4. ],
       [20. ,  6. ],
       [18. ,  6. ],
       [18.5,  6. ],
       [17.5,  6. ],
       [29.5,  4. ],
       [32. ,  4. ],
       [28. ,  4. ],
       [26.5,  4. ],
       [20. ,  4. ],
       [13. ,  8. ],
       [19. ,  4. ],
       [19. ,  6. ],
       [16.5,  6. ],
       [16.5,  8. ],
       [13. ,  8. ],
       [13. ,  8. ],
       [13. ,  8. ],
       [31.5,  4. ],
       [30. ,  4. ],
       [36. ,  4. ],
       [25.5,  4. ],
       [33.5,  4. ],
       [17.5,  8. ],
       [17. ,  8. ],
       [15.5,  8. ],
       [15. ,  8. ],
       [17.5,  6. ],
       [20.5,  6. ],
       [19. ,  6. ],
       [18.5,  6. ],
       [16. ,  8. ],
       [15.5,  8. ],
       [15.5,  8. ],
       [16. ,  8. ],
       [29. ,  4. ],
       [24.5,  4. ],
       [26. ,  4. ],
       [25.5,  4. ],
       [30.5,  4. ],
       [33.5,  4. ],
       [30. ,  4. ],
       [30.5,  4. ],
       [22. ,  6. ],
       [21.5,  4. ],
       [21.5,  3. ],
       [43.1,  4. ],
       [36.1,  4. ],
       [32.8,  4. ],
       [39.4,  4. ],
       [36.1,  4. ],
       [19.9,  8. ],
       [19.4,  8. ],
       [20.2,  8. ],
       [19.2,  6. ],
       [20.5,  6. ],
       [20.2,  6. ],
       [25.1,  4. ],
       [20.5,  6. ],
       [19.4,  6. ],
       [20.6,  6. ],
       [20.8,  6. ],
       [18.6,  6. ],
       [18.1,  6. ],
       [19.2,  8. ],
       [17.7,  6. ],
       [18.1,  8. ],
       [17.5,  8. ],
       [30. ,  4. ],
       [27.5,  4. ],
       [27.2,  4. ],
       [30.9,  4. ],
       [21.1,  4. ],
       [23.2,  4. ],
       [23.8,  4. ],
       [23.9,  4. ],
       [20.3,  5. ],
       [17. ,  6. ],
       [21.6,  4. ],
       [16.2,  6. ],
       [31.5,  4. ],
       [29.5,  4. ],
       [21.5,  6. ],
       [19.8,  6. ],
       [22.3,  4. ],
       [20.2,  6. ],
       [20.6,  6. ],
       [17. ,  8. ],
       [17.6,  8. ],
       [16.5,  8. ],
       [18.2,  8. ],
       [16.9,  8. ],
       [15.5,  8. ],
       [19.2,  8. ],
       [18.5,  8. ],
       [31.9,  4. ],
       [34.1,  4. ],
       [35.7,  4. ],
       [27.4,  4. ],
       [25.4,  5. ],
       [23. ,  8. ],
       [27.2,  4. ],
       [23.9,  8. ],
       [34.2,  4. ],
       [34.5,  4. ],
       [31.8,  4. ],
       [37.3,  4. ],
       [28.4,  4. ],
       [28.8,  6. ],
       [26.8,  6. ],
       [33.5,  4. ],
       [41.5,  4. ],
       [38.1,  4. ],
       [32.1,  4. ],
       [37.2,  4. ],
       [28. ,  4. ],
       [26.4,  4. ],
       [24.3,  4. ],
       [19.1,  6. ],
       [34.3,  4. ],
       [29.8,  4. ],
       [31.3,  4. ],
       [37. ,  4. ],
       [32.2,  4. ],
       [46.6,  4. ],
       [27.9,  4. ],
       [40.8,  4. ],
       [44.3,  4. ],
       [43.4,  4. ],
       [36.4,  5. ],
       [30. ,  4. ],
       [44.6,  4. ],
       [40.9,  4. ],
       [33.8,  4. ],
       [29.8,  4. ],
       [32.7,  6. ],
       [23.7,  3. ],
       [35. ,  4. ],
       [23.6,  4. ],
       [32.4,  4. ],
       [27.2,  4. ],
       [26.6,  4. ],
       [25.8,  4. ],
       [23.5,  6. ],
       [30. ,  4. ],
       [39.1,  4. ],
       [39. ,  4. ],
       [35.1,  4. ],
       [32.3,  4. ],
       [37. ,  4. ],
       [37.7,  4. ],
       [34.1,  4. ],
       [34.7,  4. ],
       [34.4,  4. ],
       [29.9,  4. ],
       [33. ,  4. ],
       [34.5,  4. ],
       [33.7,  4. ],
       [32.4,  4. ],
       [32.9,  4. ],
       [31.6,  4. ],
       [28.1,  4. ],
       [30.7,  6. ],
       [25.4,  6. ],
       [24.2,  6. ],
       [22.4,  6. ],
       [26.6,  8. ],
       [20.2,  6. ],
       [17.6,  6. ],
       [28. ,  4. ],
       [27. ,  4. ],
       [34. ,  4. ],
       [31. ,  4. ],
       [29. ,  4. ],
       [27. ,  4. ],
       [24. ,  4. ],
       [23. ,  4. ],
       [36. ,  4. ],
       [37. ,  4. ],
       [31. ,  4. ],
       [38. ,  4. ],
       [36. ,  4. ],
       [36. ,  4. ],
       [36. ,  4. ],
       [34. ,  4. ],
       [38. ,  4. ],
       [32. ,  4. ],
       [38. ,  4. ],
       [25. ,  6. ],
       [38. ,  6. ],
       [26. ,  4. ],
       [22. ,  6. ],
       [32. ,  4. ],
       [36. ,  4. ],
       [27. ,  4. ],
       [27. ,  4. ],
       [44. ,  4. ],
       [32. ,  4. ],
       [28. ,  4. ],
       [31. ,  4. ]])

In [548]:
np.unique(np.delete(np.column_stack(([mpg_data, cylinder_data])), 0, 1))

array([3., 4., 5., 6., 8.])

In [549]:
np.argsort(groups)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

# Pandas Problems

In [550]:
import pandas as pd

## 1. Basic Exploration
Load the dataset into a Pandas DataFrame. Display:
- The first 10 rows
- The total number of rows and columns
- Summary statistics for numerical columns

In [551]:
df = pd.read_csv("auto-mpg.csv")

In [552]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [553]:
df['horsepower'] = df['horsepower'].apply(pd.to_numeric, errors='coerce')
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [554]:
# First 10 rows
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl

In [555]:
# Total number of rows and columns
print("No. of rows = ", df.shape[0])
print("No. of columns = ", df.shape[1])

No. of rows =  398
No. of columns =  9

In [556]:
# Summary statistics for numerical columns
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

## 2. Filtering and Indexing
Find all cars manufactured in 1975 with a weight less than 3000. Return the DataFrame with selected columns: car_name, weight, and mpg.

In [557]:
filtered_df = df[(df["model year"]==75) & (df["weight"]<3000)]
filtered_df[["car name","weight","mpg"]]

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

## 3. Handling Missing Data
Identify if there are any missing values in the dataset. Replace missing values in the horsepower column with the column's median.

In [558]:
df.isna().any()

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model year      False
origin          False
car name        False
dtype: bool

In [559]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mean())

In [560]:
df.isna().any()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model year      False
origin          False
car name        False
dtype: bool

## 4. Data Transformation
Add a new column power_to_weight_ratio, calculated as horsepower/weight.

In [561]:
df['power_to_weight_ratio'] = df['horsepower']/df['weight']

In [562]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0.030824
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0.036601
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0.030095
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0.030147

## 5. Group By
Group the cars by origin and calculate the mean mpg for each group.

In [563]:
group = df.groupby(['origin'])

In [564]:
group['mpg'].mean()

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

## 6. Sorting
Sort the DataFrame by mpg in descending order and display the top 10 cars withthe highest mpg.

In [565]:
df.sort_values(by='mpg', ascending=False).head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
322,46.6,4,86.0,65.000000,2110,17.9,80,3,mazda glc,0.030806
329,44.6,4,91.0,67.000000,1850,13.8,80,3,honda civic 1500 gl,0.036216
325,44.3,4,90.0,48.000000,2085,21.7,80,2,vw rabbit c (diesel),0.023022
394,44.0,4,97.0,52.000000,2130,24.6,82,2,vw pickup,0.024413
326,43.4,4,90.0,48.000000,2335,23.7,80,2,vw dasher (diesel),0.020557
244,43.1,4,90.0,48.000000,1985,21.5,78,2,volkswagen rabbit custom diesel,0.024181
309,41.5,4,98.0,76.000000,2144,14.7,80,2,vw rabbit,0.035448
330,40.9,4,85.0,104.469388,1835,17.3,80,2,renault lecar deluxe,0.056932
324,40.8,4,85.0,65.000000,2110,19.2,80,3,datsun 210,0.030806
247,39.4,4,85.0,70.000000,2070,18.6,78,3,datsun b210 gx,0.033816

## 7. Apply Function
Create a new column performance_score using a custom function:  
`def performance_score(row):`  
`  return row['mpg'] * row['acceleration'] / row['weight']`  
Apply this function to each row and store the result in the new column.

In [566]:
def performance_score(row):
    return row['mpg']*row['acceleration']/row['weight']

In [567]:
df['performance_score']=performance_score(df)

In [568]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100,0.061644
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679,0.046710
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655,0.057625
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694,0.055928
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591,0.051754
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0.030824,0.150968
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413,0.508169
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0.036601,0.161743
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0.030095,0.198400
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0.030147,0.221103

## 8. Visualization Preparation
Generate a summary DataFrame with:
- Average mpg, weight, and horsepower for each model_year.

In [569]:
summary_df = df.groupby('model year')[['mpg','weight','horsepower']].mean()

In [570]:
summary_df

                  mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  106.945335
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.609977
75          20.266667  3176.800000  101.066667
76          21.573529  3078.735294  101.117647
77          23.375000  2997.357143  105.071429
78          24.061111  2861.805556   99.694444
79          25.093103  3055.344828  101.206897
80          33.696552  2436.655172   79.342716
81          30.334483  2522.931034   81.843772
82          31.709677  2453.548387   82.208690

## 9. Exporting Data
Save a subset of the data containing only mpg, cylinders, horsepower, and weight for cars with mpg > 30 into a CSV file named high_mpg_cars.csv.

In [571]:
subset_df = df[df['mpg']>30]
subset_df[['mpg','cylinders','horsepower','weight']]

      mpg  cylinders  horsepower  weight
53   31.0          4        65.0    1773
54   35.0          4        69.0    1613
129  31.0          4        67.0    1950
131  32.0          4        65.0    1836
144  31.0          4        52.0    1649
..    ...        ...         ...     ...
390  32.0          4        96.0    2665
391  36.0          4        84.0    2370
394  44.0          4        52.0    2130
395  32.0          4        84.0    2295
397  31.0          4        82.0    2720

[85 rows x 4 columns]

In [572]:
subset_df[['mpg','cylinders','horsepower','weight']].to_csv('high_mpg_cars.csv')

In [573]:
verify_df = pd.read_csv('high_mpg_cars.csv')
verify_df.head()

   Unnamed: 0   mpg  cylinders  horsepower  weight
0          53  31.0          4        65.0    1773
1          54  35.0          4        69.0    1613
2         129  31.0          4        67.0    1950
3         131  32.0          4        65.0    1836
4         144  31.0          4        52.0    1649

## 10. Finding Anomalies
Identify potential outliers in the mpg column using the Interquartile Range (IQR) method. Specifically:
- Calculate the IQR for mpg.
- Define outliers as values less than Q1 - 1.5 * IQR or greater than Q3 +
1.5 * IQR.
- Create a DataFrame of cars classified as outliers, displaying car_name, mpg,
and model_year.

In [574]:
# IQR for mpg
Q1 = df['mpg'].quantile(0.25)
Q3 = df['mpg'].quantile(0.75)
IQR = Q3-Q1
print("Q1 of mpg = ", Q1)
print("Q3 of mpg = ", Q3)
print("IQR of mpg = ", IQR)

Q1 of mpg =  17.5
Q3 of mpg =  29.0
IQR of mpg =  11.5

In [575]:
# Define outliers as values less than Q1 - 1.5 * IQR or greater than Q3 + 1.5 * IQR.
outliers = (df['mpg']<(Q1 - 1.5 * IQR)) | (df['mpg']>(Q3 + 1.5 * IQR))
print("Outliers are mpg <",Q1 - 1.5 * IQR, "or mpg >", Q3 + 1.5 * IQR)

Outliers are mpg < 0.25 or mpg > 46.25

In [576]:
# Create a DataFrame of cars classified as outliers, displaying car_name, mpg, and model_year.
outlier_df = df[outliers]
outlier_df[['car name','mpg','model year']]

      car name   mpg  model year
322  mazda glc  46.6          80