In [ ]:
import sqlite3

In [ ]:
def load_imdb_database(db_path):
  try:
    conn = sqlite3.connect(db_path)
    print("IMDB database loaded successfully.")
    return conn
  except sqlite3.Error as e:
    print(f"Error loading IMDB database: {e}")
    return None

In [ ]:
db_path = "imdb.db"
conn = load_imdb_database(db_path)

if conn:
  print("Connection successful")
  cursor = conn.cursor()

IMDB database loaded successfully.
Connection successful

In [ ]:
cursor.execute("SELECT * FROM movie LIMIT 10")
rows = cursor.fetchall()
for row in rows:
  print(row)

(0, 'tt2388771', 'Mowgli', '2018', 6.6, 21967)
(1, 'tt5164214', "Ocean's Eight", '2018', 6.2, 110861)
(2, 'tt1365519', 'Tomb Raider', '2018', 6.4, 142585)
(3, 'tt0848228', 'The Avengers', '2012', 8.1, 1137529)
(4, 'tt8239946', 'Tumbbad', '2018', 8.5, 7483)
(5, 'tt7027278', 'Kedarnath', '2018', 5.5, 1970)
(6, 'tt3498820', 'Captain America: Civil War', '2016', 7.8, 536641)
(7, 'tt8108198', 'Andhadhun', '2018', 9.0, 18160)
(8, 'tt3741834', 'Lion', '2016', 8.1, 170216)
(9, 'tt6747420', 'Rajma Chawal', '2018', 5.7, 681)

In [ ]:
conn.close()